<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<from id="from" action="/teacherTime/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tab1" cellpadding="3">
        <tbody>
        <tr>
            <td class="left b">姓名:</td>
            <td>
                <input class="easyui-combotreegrid"  name="jobNumber"
                                                            data-options="panelWidth:200,
                                                              labelPosition:'left',
                                                              url:'/teacher/teachingTeacher',
                                                              idField:'Id',
                                                              treeField:'Name',
                                                              columns:[[
                                                                  {field:'Name',title:'名称',width:200}
                                                              ]]">
            </td>
            <td class="left b">日期:</td>
            <td>
                <input class="easyui-datebox" name="classDate" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">开始时间:</td>
            <td>
                <input class="easyui-timespinner" name="startHour" data-options="required:true,showSeconds:true"/>
            </td>
            <td class="left b">结束时间:</td>
            <td>
                <input class="easyui-timespinner" name="endHour" data-options="required:true,showSeconds:true"/>
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
