<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四川师范大学-就业信息网</title>
    <link rel="stylesheet" href="../../../static/homePage/css/swiper-4.2.6.min.css">
    <link href="../../../static/homePage/css/web_sf.css" rel="stylesheet" />
</head>
<body>
<!--页头-->
<div class="bg">
    <div class="header bt-box-1024 clear">
        <img src="../../../static/homePage/img/logo.png" alt="">
        <div class="bt-r search" >
            <form   action=""  class=" text-r">
                <button  class="bt-r">搜 索</button>
                <input type="text" class="bt-r" placeholder="输入关键字">
            </form>
        </div>
        <div class="nav">
            <ul class="bt-box-1024 nav-li clear" id="nav">

            </ul>
        </div>
    </div>
</div>
<!--导航轮播-->
<div class="i-banner">
    <img src="../../../static/homePage/img/news-banner.png" alt="">
</div>
<!--当前位置-->
<div class="nav-bar bt-box-1024">
    <img src="../../../static/homePage/img/nav-bar01.png" alt="">
    <span>当期位置：<a href="/">首页</a> > <a href="/home/comList">单位招聘列表</a> > <span>单位招聘详情</span> > </span>
</div>
<!--新闻详情-->
<div class="bt-box-1024">
    <p class="news-pro-t text-c">成都易科士信息产业有限公司</p>
    <div class="text-c c95 news-pro-data">
        <span class="xcb2">地址 ：成都市</span>
        <span class="xcb2">行业 ：互联网</span>
        <span class="xcb2">规模 ：100~500</span>
    </div>
    <div class="line2"></div>
    <div class="news-zw">
        <p class="margintop20">成都易科士信息产业有限公司是一家集软、硬件产品设计、开发、生产、销售、安装、服务为一体的智能（卡）系列产品解决方案提供商。致力于“数字校园”、“数字企业”一卡通，智能(卡)及智能(卡)相关产品的设计与开发。在行业中异军突起，同时公司加快步伐，适时创新，不断发展，持续改进系列产品的性能，并不断完善，以高质量的产品，先进的技术和良好的服务取信于用户。</p>
        <p class="margintop20" style="font-size: 16px;font-weight: bold">职位要求</p>
        <div class="line margintop10" style="height: 2px"></div>
        <p class="margintop15 p20">职位名称 ：JAVA开发工程师</p>
        <p class="p20">工作地点 ：成都-高新西区</p>
        <p class="p20">工作年限 ：3年</p>
        <p class="p20">学历要求 ：本科及以上</p>
        <p class="p20">薪资待遇 ：5~10K</p>
        <p class="margintop30 p20">职能要求 ：</p>
        <p class="p50">1.</p>
        <p class="p50">2.</p>
        <p class="margintop30 p20">职能要求 ：</p>
        <p class="p50">1.</p>
        <p class="p50">2.</p>
        <p class="margintop30 p20">联系人 ：</p>
        <p class="p20">电话 ：</p>
        <p class="p20">邮箱 ：</p>
    </div>
    <div class="line " style="height: 2px"></div>
    <div class="text-c com-btn margintop30">
        <a href="" class="c95">投递简历</a>
        <a href="" class="c95">收藏职位</a>
        <a href="" class="c95">投诉职位</a>
    </div>
</div>
<div class="line " style="margin-top: 60px"></div>
<div class="bt-box-1024 box" style="width: 960px;margin: 30px auto" id="link">
</div>
<!--页尾-->
<div class="link">
    <div class="bt-box-1024 text-c cff">
        <p>联系电话：028-84768877,84760653（就业科）,028-84767065（传真）,电子邮件： scsdzjc@126.com</p>
        <p class="margintop15">通讯地址：四川省成都市锦江区静安路5号（四川师范大学狮子山校区）&nbsp&nbsp&nbsp今日访问量：<span>2706739</span>&nbsp&nbsp&nbsp总访问量：<span>9983772</span></p>
        <p class="margintop15">©四川师范大学招生就业处&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都易科士信息产业公司.</p>
    </div>
</div>
<script src="../../../static/homePage/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../../static/homePage/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="/static/homePage/js/currency.js"></script>
</body>
</html>
