<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四川师范大学-就业信息网</title>
    <link rel="stylesheet" href="../../../static/homePage/css/swiper-4.2.6.min.css">
    <link href="../../../static/homePage/css/web_sf.css" rel="stylesheet" />
</head>
<body>
<!--页头-->
<div class="bg">
    <div class="header bt-box-1024 clear">
        <img src="../../../static/homePage/img/logo.png" alt="">
        <div class="bt-r search" >
            <form   action=""  class=" text-r">
                <button  class="bt-r">搜 索</button>
                <input type="text" class="bt-r" placeholder="输入关键字">
            </form>
        </div>
        <div class="nav">
            <ul class="bt-box-1024 nav-li clear" id="nav">

            </ul>
        </div>
    </div>
</div>
<!--导航轮播-->
<div class="i-banner">
    <img src="../../../static/homePage/img/news-banner.png" alt="">
</div>
<!--当前位置-->
<div class="nav-bar bt-box-1024">
    <img src="../../../static/homePage/img/nav-bar01.png" alt="">
    <span>当期位置：<a href="/">首页</a> > <span>单位招聘列表  </span></span>
</div>
<!--新闻详情-->

<div class="bt-box-1024" style="padding: 0 20px" id="zplb">


    <!--<div class=" margintop20" >
        <div class=" news-list news-list3" style="width: 100%">
            <div class="clear">
                <p class="bt-l">招聘职位 ：java开发工程师</p>
                <span class="bt-r c95">发布日期 ：2018-08-10</span>
            </div>
            <p class="margintop20" style="padding-left: 25px">职位要求 ：</p>
            <p  style="padding-left: 25px">薪资待遇 ：</p>
            <p class="clear" style="padding-left: 25px">
                <span class="bt-l">招聘人数 ：5人</span>
                <a class="bt-r text-c" href="">投递简历</a>
            </p>
        </div>
    </div>
    <div class="line margintop20" ></div>
    <div class=" margintop20" >
        <div class=" news-list news-list3" style="width: 100%">
            <div class="clear">
                <p class="bt-l">招聘职位 ：java开发工程师</p>
                <span class="bt-r c95">发布日期 ：2018-08-10</span>
            </div>
            <p class="margintop20" style="padding-left: 25px">职位要求 ：</p>
            <p  style="padding-left: 25px">薪资待遇 ：</p>
            <p class="clear" style="padding-left: 25px">
                <span class="bt-l">招聘人数 ：5人</span>
                <a class="bt-r text-c" href="">投递简历</a>
            </p>
        </div>
    </div>
    <div class="line margintop20" ></div>
    <div class=" margintop20" >
        <div class=" news-list news-list3" style="width: 100%">
            <div class="clear">
                <p class="bt-l">招聘职位 ：java开发工程师</p>
                <span class="bt-r c95">发布日期 ：2018-08-10</span>
            </div>
            <p class="margintop20" style="padding-left: 25px">职位要求 ：</p>
            <p  style="padding-left: 25px">薪资待遇 ：</p>
            <p class="clear" style="padding-left: 25px">
                <span class="bt-l">招聘人数 ：5人</span>
                <a class="bt-r text-c" href="">投递简历</a>
            </p>
        </div>
    </div>
    <div class="line margintop20" ></div>
    <div class=" margintop20" >
        <div class=" news-list news-list3" style="width: 100%">
            <div class="clear">
                <p class="bt-l">招聘职位 ：java开发工程师</p>
                <span class="bt-r c95">发布日期 ：2018-08-10</span>
            </div>
            <p class="margintop20" style="padding-left: 25px">职位要求 ：</p>
            <p  style="padding-left: 25px">薪资待遇 ：</p>
            <p class="clear" style="padding-left: 25px">
                <span class="bt-l">招聘人数 ：5人</span>
                <a class="bt-r text-c" href="">投递简历</a>
            </p>
        </div>
    </div>
    <div class="line margintop20" ></div>-->
</div>
<div class="line " ></div>
<div class="bt-box-1024 box" style="width: 960px;margin: 30px auto" id="link">
</div>
<!--页尾-->
<div class="link">
    <div class="bt-box-1024 text-c cff">
        <p>联系电话：028-84768877,84760653（就业科）,028-84767065（传真）,电子邮件： scsdzjc@126.com</p>
        <p class="margintop15">通讯地址：四川省成都市锦江区静安路5号（四川师范大学狮子山校区）&nbsp&nbsp&nbsp今日访问量：<span>2706739</span>&nbsp&nbsp&nbsp总访问量：<span>9983772</span></p>
        <p class="margintop15">©四川师范大学招生就业处&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都易科士信息产业公司.</p>
    </div>
</div>
<script src="../../../static/homePage/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../../static/homePage/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="/static/homePage/js/currency.js"></script>
<script>
    $(function () {
        var html ="";
        html +='<p class="news-pro-t text-c">成都易科士信息产业有限公司</p>\n' +
            '    <div class="text-c c95 news-pro-data">\n' +
            '        <span class="xcb2">地址 ：成都市</span>\n' +
            '        <span class="xcb2">行业 ：互联网</span>\n' +
            '        <span class="xcb2">规模 ：100~500</span>\n' +
            '    </div>\n' +
            '    <div class="line2"></div>';
        for (var i = 0; i < 5; i++) {
            html +='<div class=" margintop20" >\n' +
                '        <div class=" news-list news-list3" style="width: 100%">\n' +
                '            <div class="clear">\n' +
                '                <p class="bt-l"><a href="/home/comDetails">招聘职位 ：java开发工程师</a></p>\n' +
                '                <span class="bt-r c95">发布日期 ：2018-08-10</span>\n' +
                '            </div>\n' +
                '            <p class="margintop20" style="padding-left: 25px">职位要求 ：</p>\n' +
                '            <p  style="padding-left: 25px">薪资待遇 ：</p>\n' +
                '            <p class="clear" style="padding-left: 25px">\n' +
                '                <span class="bt-l">招聘人数 ：5人</span>\n' +
                '                <a class="bt-r text-c" href="">投递简历</a>\n' +
                '            </p>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="line margintop20" ></div>';
        }
        $("#zplb").append(html);
    });
</script>
</body>
</html>
