<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四川师范大学-就业信息网</title>
    <link rel="stylesheet" href="../../../static/homePage/css/swiper-4.2.6.min.css">
    <link href="../../../static/homePage/css/web_sf.css" rel="stylesheet" />
</head>
<body>
    <!--页头-->
    <div class="bg">
        <div class="header bt-box-1024 clear">
            <img src="../../../static/homePage/img/logo.png" alt="">
            <div class="bt-r search" >
                <form   action=""  class=" text-r">
                    <button  class="bt-r">搜 索</button>
                    <input type="text" class="bt-r" placeholder="输入关键字">
                </form>
            </div>
            <div class="nav">
                <ul class="bt-box-1024 nav-li clear">
                    <li class="nav_active">
                        <a href="">学校主页</a>
                    </li>
                    <li>
                        <a href="">招生处首页</a>
                    </li>
                    <li>
                        <a href="">就业信息网首页</a>
                    </li>
                    <li>
                        <a href="">招生信息网</a>
                    </li>
                    <li>
                        <a href="">学院专业介绍</a>
                        <ul class="index-xiala">
                            <li><a href="">学院专业介绍</a></li>
                            <li><a href="">学院专业介绍</a></li>
                            <li><a href="">学院专业介绍</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">就业政策</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--导航轮播-->
    <div class="swiper-container"   id="swiper1">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide1">
                <a href="">
                    <img src="../../../static/homePage/img/index-banner.png" alt="">
                </a>
            </div>
            <div class="swiper-slide swiper-slide1">
                <a href="">
                    <img src="../../../static/homePage/img/index-banner.png" alt="">
                </a>
            </div>
            <div class="swiper-slide swiper-slide1">
                <a href="">
                    <img src="../../../static/homePage/img/index-banner.png" alt="">
                </a>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination2" style="bottom:0px;left: 50%;right: 50%;transform: translate(-50%,-50%);"></div>
    </div>
    <!--主要内容-->
    <div class="bt-box-1024  box margintop30" style="height: 420px">
        <!--招聘日历-->
        <div style="width: 350px;">
            <div class="btn " style="background: #ffd200;color: #2d634e">
                <img src="../../../static/homePage/img/index-02_14.png" alt="">
                <b>招聘日历</b>
            </div>

        </div>
        <!--通知公告-->
        <div style="width: 530px">
            <div class="btn cff" >
                <img src="../../../static/homePage/img/index-02_14-16.png" alt="">
                <b>通知公告</b>
            </div>
            <div class="news margintop20" style="height: 360px" >
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width: 390px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="news-btn text-c">
                    查看更多 > >
                </a>
            </div>
        </div>
        <!--快速入口-->
        <div style="width: 260px">
            <div class="btn cff" >
                <img src="../../../static/homePage/img/index-02_14-18.png" alt="">
                <b>快速入口</b>
            </div>
            <a href="" >
                <img class="margintop20" src="../../../static/homePage/img/index-02_24.png" alt="">
            </a>
            <a href="" >
                <img class="margintop10" src="../../../static/homePage/img/index-02_34.png" alt="">
            </a>
            <a href="" >
                <img class="margintop10" src="../../../static/homePage/img/index-02_36.png" alt="">
            </a>
        </div>
    </div>
    <div class="bt-box-1024   box margintop30" style="height: 380px">
        <!--微博-->
        <div class="bor" style="width: 310px;">
            <div class="text-head">
                <img src="../../../static/homePage/img/index-02_39.png" alt="">
                <b class="cff">微博</b>
            </div>
            <div class="weibo">
                <div class="guanzhu text-c">
                    <img src="../../../static/homePage/img/index-02_51.png" alt="">
                    <p class="box">
                        <u >四川大学招生就业处</u>
                        <a href="">
                            <img src="../../../static/homePage/img/index-02_55.png" alt="">
                            <span class="cff">加关注</span>
                        </a>
                    </p>
                </div>
                <p class="margintop20">
                    2018级普通本科录取批次以下省份可以查询： 陕西体育类、艺术类、普通类 ;广西体育类、艺术类、普通类 ;河北艺体类、普通类 ;河南艺术类、普通类 ;重庆体育类、普通类 ;湖南艺术类、普通类;甘肃体育类、艺术
                </p>
                <div class="clear margintop10">
                    <span class="bt-l">
                        2018-08-06
                    </span>
                    <a href="" class="bt-r" style="margin-left: 9px">
                        <img src="../../../static/homePage/img/index-02_59-62.png" alt="">
                        <span>评论</span>
                    </a>
                    <a href="" class="bt-r" >
                        <img src="../../../static/homePage/img/index-02_59.png" alt="">
                        <span>转发</span>
                    </a>
                </div>
            </div>
        </div>
        <!--自行联系-->
        <div class="bor " style="width: 410px">
            <div class="text-head clear">
                <div class="bt-l">
                    <img src="../../../static/homePage/img/index-02_39-42.png" alt="">
                    <b class="cff">自行联系</b>
                </div>
                <a href="" class="bt-r cff">
                   更多 > >
                </a>
            </div>
            <div class="news" style="height: 320px;border: 0" >
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
            </div>
        </div>
        <!--历年来校单位-->
        <div class="bor " style="width: 410px">
            <div class="text-head clear">
                <div class="bt-l">
                    <img src="../../../static/homePage/img/index-02_39-45.png" alt="">
                    <b class="cff">历年来校单位</b>
                </div>
                <a href="" class="bt-r cff">
                    更多 > >
                </a>
            </div>
            <div class="news" style="height: 320px;border: 0" >
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:265px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
            </div>
        </div>
    </div>
    <!--公告图-->
    <div class="bt-box-1024 ggt" >
        <a href="">
            <img src="../../../static/homePage/img/index-02_66.png" alt="">
        </a>
    </div>
    <div class="bt-box-1024 ggt" >
        <img src="../../../static/homePage/img/index-02_68.png" usemap="#planetmap" alt="">
        <map name="planetmap" id="planetmap">
            <area shape="rect" coords="487,9,606,70" href ="" />
            <area shape="rect" coords="655,9,772,70" href =""  />
            <area shape="rect" coords="925,9,1080,37" href =""  />
            <area shape="rect" coords="925,43,1116,71" href =""  />
        </map>
    </div>
    <!--专栏-->
    <div class="bt-box-1024 box" style="height: 302px">
        <div class="bor " style="width: 585px">
            <div class="text-head clear">
                <div class="bt-l">
                    <img src="../../../static/homePage/img/index-02_56-71.png" alt="">
                    <b class="cff">各学院（专业）毕业生人数及联系信息专栏</b>
                </div>
                <a href="" class="bt-r cff">
                    更多 > >
                </a>
            </div>
            <div class="news" style="height: 302px;border: 0;" >
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
            </div>
        </div>
        <div class="bor " style="width: 585px">
            <div class="text-head clear">
                <div class="bt-l">
                    <img src="../../../static/homePage/img/index-02_56-73.png" alt="">
                    <b class="cff">相关下载</b>
                </div>
                <a href="" class="bt-r cff">
                    更多 > >
                </a>
            </div>
            <div class="news" style="height: 302px;border: 0" >
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
                <a href="" class="clear">
                    <p class="title bt-l" style="width:400px"><i></i>关于发放2019界低保家庭毕业生、残疾毕业生、国家助学贷款毕业生</p>
                    <div class="bt-r c95">2018-07-10</div>
                </a>
            </div>
        </div>
    </div>
    <div class="bt-box-1024 bor in-video margintop30">
        <div class="text-head  clear" style="padding-left: 0px">
            <div class="bt-l active1" style="width: 170px;padding-left: 20px" id="btn1">
                <img src="../../../static/homePage/img/index-02_56-78.png" alt="">
                <b class="cff">就业指导视频</b>
            </div>
            <div class="bt-l" style="width: 170px;padding-left: 20px" id="btn2">
                <img src="../../../static/homePage/img/index-02_56-80.png" alt="" >
                <b class="cff">招聘单位视频</b>
            </div>
            <a href="" class="bt-r cff">
                更多 > >
            </a>
        </div>
        <div class="video-list video-list1 margintop20 box" >
            <div>1</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="video-list video-list2 margintop20 box" >
            <div>2</div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="bt-box-1024 box" style="width: 960px;margin: 20px auto">
        <select name="menu1" onchange="javascript:window.open(this.options[this.selectedIndex].value)">
            <option value="#">校内常用链接</option>
        </select>
        <select name="menu1" onchange="javascript:window.open(this.options[this.selectedIndex].value)">
            <option value="">政府部门就业相关</option>
            <option value="http://www.mohrss.gov.cn/">国家人力资源和社会保障部</option>
            <option value="http://www.chsi.com.cn/">中国高等教育学生信息网</option>
            <option value="http://www.ncss.org.cn/">全国大学生就业服务公共平台</option>
            <option value="http://dxs.newjobs.com.cn/">人事部全国人才流动中心毕业生就业服务处</option>
            <option value="http://www.job100.com/">中国企业人才网</option>
        </select>
        <select name="menu1" onchange="javascript:window.open(this.options[this.selectedIndex].value)">
            <option value="">高校就业信息网</option>
        </select>
        <select name="menu1" onchange="javascript:window.open(this.options[this.selectedIndex].value)">
            <option value="">各类人才招聘网</option>
            <option value="http://www.ciiczp.com/Campus.aspx">终止招聘网</option>
            <option value="http://www.zheyibu.com/">这一步大学生就业网</option>
            <option value="http://www.dajie.com/">大街网</option>
            <option value="http://www.chinahr.com/">中华英才网</option>
            <option value="http://www.51job.com/">前程无忧网</option>
            <option value="http://www.zhaopin.com/">智联招聘人才网</option>
            <option value="http://www.yingjiesheng.com/">应届生求职网</option>
            <option value="http://www.daqinrc.com/">大秦人才网</option>
            <option value="http://www.qincaichina.com/">芹菜网</option>
            <option value="http://job.cas.cn/">中国科学院招聘网</option>
        </select>
    </div>
    <!--页尾-->
    <div class="link">
        <div class="bt-box-1024 text-c cff">
            <p>联系电话：028-84768877,84760653（就业科）,028-84767065（传真）,电子邮件： scsdzjc@126.com</p>
            <p class="margintop15">通讯地址：四川省成都市锦江区静安路5号（四川师范大学狮子山校区）&nbsp&nbsp&nbsp今日访问量：<span>2706739</span>&nbsp&nbsp&nbsp总访问量：<span>9983772</span></p>
            <p class="margintop15">©四川师范大学招生就业处&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都易科士信息产业公司.</p>
        </div>
    </div>
    <script src="../../../static/homePage/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../../../static/homePage/js/index.js"></script>
    <script type="text/javascript" src="../../../static/homePage/js/swiper-4.2.6.min.js"></script>
    <script>
        var swiper1 = new Swiper('#swiper1',{
            pagination: {
                el: '.swiper-pagination',
                clickable :true,
            },
            loop: true,
            autoplay:true,
        });

    </script>
</body>
</html>
