<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四川师范大学-就业信息网</title>
    <link rel="stylesheet" href="../../../static/homePage/css/swiper-4.2.6.min.css">
    <link href="../../../static/homePage/css/web_sf.css" rel="stylesheet" />
    <script src="../../../static/homePage/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="../../../static/homePage/js/swiper-4.2.6.min.js"></script>
    <script>
        $(function () {
            var code = '${code}';
            if(code == 1){
                queryTzgg(code,1);
            }else if(code == 4 || code == 5){
                queryXgxz(code);
            }
        });



        //通知公告
        function queryTzgg(code,page) {
            $("#newsList").empty();
            var html ="";
            $.ajax({
                type: "post",
                dataType: "json",
                url: '/home/homeNoticeList',
                data: {"code": code,"page":page,"rows":"5","sidx":"Id","sord":"asc"},
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.rows.length ; i++) {
                            html += '<div class=" margintop20" >\n' +
                                '        <div class=" news-list news-list2" style="width: 100%">\n' +
                                '            <a href="/home/details?id='+data.rows[i].Id+'&code='+code+'">'+data.rows[i].Title+'</a>\n' +   //decodeURIComponent(data.rows[i].Content)
                                '            <div style="height: 50px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-left: 20px;" class="c32"><p class="margintop20 c32">'+ data.rows[i].SubTitle+'</p></div>\n' +
                                '            <p class="c95 margintop20">\n' +
                                '                <span>'+fmtDate(data.rows[i].CreateDate)+'</span>\n' +
                                '                <span class="xcb bt-r"><img src="../../../static/homePage/img/news-data-bg01.png" alt="">阅读 ：'+data.rows[i].ClickCount+'</span>\n' +
                                '                <span class="xcb bt-r"><img src="../../../static/homePage/img/news-data-bg.png" alt="">来源 ：'+shieldNull(data.rows[i].Resource)+'</span>\n' +
                                '            </p>\n' +
                                '        </div>\n' +
                                '    </div>\n' +
                                '    <div class="line margintop20" ></div>';
                        }
                        $("#newsList").append(html);
                        fy(data.total,data.page,code);
                    }
                    else {
                        alert("暂无数据!");
                    }
                }
            });
        }


        function fy(total,page,code) {
            $("#fy").empty();
            var fy = "";
            fy += '<div class="news-tabs c32 text-c">\n' +
                '    <a href="javascript:void(0)" onclick="previousPage('+code+');return false;" style="width: 80px"> < 上一页</a>\n';
               /* '    <a href="" class="news-tabs-active">1</a>\n';*/
            for (var j = 1; j <=total ; j++) {
                if(page == j){
                    fy +='        <a href="javascript:void(0)" onclick="clickPage(this,'+code+');return false;"  class="news-tabs-active" id="dqy">'+j+'</a>\n';
                }else{
                    fy +='        <a href="javascript:void(0)" onclick="clickPage(this,'+code+');return false;">'+j+'</a>\n';
                }
            }
            fy +=  '    <a  href="javascript:void(0)" onclick="nextPage('+total+','+code+');return false;" style="width: 80px">下一页 > </a>\n';
            fy += '    <span>共'+total+'页，到第</span>\n' +
                '    <label for="">\n' +
                '        <input type="number" min="1" id="srk">\n' +
                '        页\n' +
                '    </label>\n' +
                '    <a href="javascript:void(0)" onclick="jumpPage('+total+','+code+');return false;" style="width: 70px">确 认</a>\n' +
                '</div>';
            $("#fy").append(fy);
        }

        //上一页
        function previousPage(code) {
            var currentPage =  $("#dqy").text();
            if(currentPage <=1){
                alert("已经是第一页了");
            }else{
                queryTzgg(code,currentPage-1);
            }
        }
        //下一页
        function nextPage(page,code) {
            var currentPage =  parseInt($("#dqy").text());
            if(currentPage >=page){
                alert("已经是最后一页了");
            }else{
                queryTzgg(code,currentPage+1);
            }
        }
        //点击
        function clickPage(obj,code) {
            var page = parseInt(obj.text);
            queryTzgg(code,page);
        }
        //跳转
        function jumpPage(total,code) {
            var page = $("#srk").val();
            if(page>total || page<1){
                alert("该页码不存在，请重新输入");
            }else{
                queryTzgg(code,page);
            }
        }

        //相关下载
        function queryXgxz(code) {
            $("#newsList").empty();
            var html ="";
            $.ajax({
                type: "post",
                dataType: "json",
                url: '/home/homeDownloadList',
                data: {"code": code,"page":"1","rows":"5","sidx":"Id","sord":"asc"},
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.rows.length ; i++) {
                            html += '<div class=" margintop20" >\n' +
                                '        <div class=" news-list news-list2" style="width: 100%">\n' +
                                '            <a href="'+data.rows[i].Url+'" >'+shieldNull(data.rows[i].Title)+'</a>\n' +
                                /* '            <p class="margintop20 c32">'+list[i].Content+'</p>\n' +*/
                                '            <p class="c95 margintop20">\n' +
                                '                <span>'+fmtDate(data.rows[i].CreateDate)+'</span>\n' +
                                '                <span class="xcb bt-r"><img src="../../../static/homePage/img/news-data-bg01.png" alt="">下载 ：'+data.rows[i].DownCount+'</span>\n' +
                                '                <span class="xcb bt-r"><img src="../../../static/homePage/img/news-data-bg.png" alt="">来源 ：'+shieldNull(data.rows[i].UserId)+'</span>\n' +
                                '            </p>\n' +
                                '        </div>\n' +
                                '    </div>\n' +
                                '    <div class="line margintop20" ></div>';
                        }
                        $("#newsList").append(html);
                        fy(data.total,data.page,code);
                    }
                    else {
                        alert("暂无数据!");
                    }
                }
            });
        }

    </script>
</head>
<body>
<!--页头-->
<div class="bg">
    <div class="header bt-box-1024 clear">
        <img src="../../../static/homePage/img/logo.png" alt="">
        <div class="bt-r search" >
            <form   action=""  class=" text-r">
                <button  class="bt-r">搜 索</button>
                <input type="text" class="bt-r" placeholder="输入关键字">
            </form>
        </div>
        <div class="nav">
            <ul class="bt-box-1024 nav-li clear" id="nav">

            </ul>
        </div>
    </div>
</div>
<!--导航轮播-->
<div class="i-banner">
    <img src="../../../static/homePage/img/news-banner.png" alt="">
</div>
<!--当前位置-->
<div class="nav-bar bt-box-1024">
    <img src="../../../static/homePage/img/nav-bar01.png" alt="">
    <span>当期位置：<a href="/">首页</a> > <span>${name}  </span></span>
</div>
<!--新闻详情-->
<div class="bt-box-1024" style="padding: 0 20px" id="newsList">

</div>
<div class="bt-box-1024" style="padding: 0 20px" id="fy">

</div>

<div class="line " ></div>
<div class="bt-box-1024 box" style="width: 960px;margin: 30px auto" id="link">

</div>
<!--页尾-->
<div class="link">
    <div class="bt-box-1024 text-c cff">
        <p>联系电话：028-84768877,84760653（就业科）,028-84767065（传真）,电子邮件： scsdzjc@126.com</p>
        <p class="margintop15">通讯地址：四川省成都市锦江区静安路5号（四川师范大学狮子山校区）&nbsp&nbsp&nbsp今日访问量：<span>2706739</span>&nbsp&nbsp&nbsp总访问量：<span>9983772</span></p>
        <p class="margintop15">©四川师范大学招生就业处&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都易科士信息产业公司.</p>
    </div>
</div>
<script src="../../../static/homePage/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../../../static/homePage/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="/static/homePage/js/currency.js"></script>

</body>
</html>
