<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>四川师范大学-就业信息网</title>
    <link rel="stylesheet" href="/static/homePage/css/swiper-4.2.6.min.css">
    <link href="/static/homePage/css/web_sf.css" rel="stylesheet" />
</head>
<body>
<!--页头-->
<div class="bg">
    <div class="header bt-box-1024 clear">
        <img src="/static/homePage/img/logo.png" alt="">
        <div class="bt-r search" >
            <form   action=""  class=" text-r">
                <button  class="bt-r">搜 索</button>
                <input type="text" class="bt-r" placeholder="输入关键字">
            </form>
        </div>
        <div class="nav">
            <ul class="bt-box-1024 nav-li clear" id="nav">

            </ul>
        </div>
    </div>
</div>
<!--导航轮播-->
<div class="i-banner">
    <img src="/static/homePage/img/news-banner.png" alt="">
</div>
<!--当前位置-->
<div class="nav-bar bt-box-1024">
    <img src="/static/homePage/img/nav-bar01.png" alt="">
    <span>当期位置：<a href="/">首页</a> > <span>咨询</span> > <span>详细</span></span>
</div>
<!--新闻详情-->
<div class="bt-box-1024">
    <div class="clear margintop30">
        <img class="bt-l" src="/static/homePage/img/index-gsxx_12.png" alt="">
        <div class="bt-l marginleft20" style="width: 90%">
            <p >张晓明</p>
            <p class="margintop15">专长 ：心理辅导</p>
            <p class="margintop10">基本信息 ：心理咨询师（psychological consultant）：是运用心理学以及相关知识，遵循心理学原则，通过心理咨询的技术与方法，帮助求助者解除心理问题的专业人员。</p>
        </div>
    </div>
    <div class="line2"></div>
    <div class="btn cff margintop20">
        <img src="/static/homePage/img/index-gsxx_08.png" alt="">
        <b>排版信息</b>
    </div>
    <table class="table margintop20">
        <thead>
           <tr>
               <td width="335">名称</td>
               <td width="290">日期时间</td>
               <td width="252">地址</td>
               <td width="168">状态</td>
               <td >操作</td>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>进行中</td>
                <td>
                    <a href="" class="yuyue text-c">
                        预&nbsp;约
                    </a>
                </td>
            </tr>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>进行中</td>
                <td>
                    <a href="" class="yuyue text-c">
                        预&nbsp;约
                    </a>
                </td>
            </tr>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>进行中</td>
                <td>
                    <a href="" class="yuyue text-c yuyued">
                        已预约
                    </a>
                </td>
            </tr>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>已过期</td>
                <td>
                    <div class="text-c noyuyue">
                        预&nbsp;约
                    </div >
                </td>
            </tr>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>进行中</td>
                <td>
                    <a href="" class="yuyue text-c">
                        预&nbsp;约
                    </a>
                </td>
            </tr>
            <tr>
                <td class="onepai" height="40">项目名称01</td>
                <td>2018-09-20&nbsp;&nbsp;09:00~11:00</td>
                <td>T-505</td>
                <td>进行中</td>
                <td>
                    <a href="" class="yuyue text-c yuyued">
                        已预约
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="line " style="margin-top: 60px"></div>
<div class="bt-box-1024 box" style="width: 960px;margin: 30px auto" id="link">

</div>
<!--页尾-->
<div class="link">
    <div class="bt-box-1024 text-c cff">
        <p>联系电话：028-84768877,84760653（就业科）,028-84767065（传真）,电子邮件： scsdzjc@126.com</p>
        <p class="margintop15">通讯地址：四川省成都市锦江区静安路5号（四川师范大学狮子山校区）&nbsp&nbsp&nbsp今日访问量：<span>2706739</span>&nbsp&nbsp&nbsp总访问量：<span>9983772</span></p>
        <p class="margintop15">©四川师范大学招生就业处&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成都易科士信息产业公司.</p>
    </div>
</div>
<script src="/static/homePage/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/static/homePage/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="/static/homePage/js/currency.js"></script>
</body>
</html>
