<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<table class="tab1" cellpadding="3">
    <tbody>
        <tr>
            <td class="left b">StudentId:</td>
            <td>
                <input class="easyui-textbox" name="StudentId" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">PostionId:</td>
            <td>
                <input class="easyui-textbox" name="PostionId" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">CreateDate:</td>
            <td>
                <input class="easyui-textbox" name="CreateDate" data-options="required:true"/>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
