<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<from id="from" action="/signupStudent/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tab1" cellpadding="3">
        <tbody>
        <tr>
            <td class="left b">学生:</td>
            <td>
                <select id="cc" class="easyui-combogrid" name="studentId"
                        data-options="
                                                             panelWidth:400,
                                                             idField:'Id',
                                                             textField:'RealName',
                                                             url:'/student/gridList',
                                                             columns:[[
                                                                 {field:'RealName',title:'姓名',width:100},
                                                                 {field:'StudentNumber',title:'学号',width:100},
                                                                 {field:'ClassName',title:'班级',width:200}
                                                             ]]
                                                         "></select>
            </td>
            <td class="left b">教师:</td>
            <td>
                <input class="easyui-combotreegrid"  name="jobNumber"
                       data-options="panelWidth:200,
                                                             labelPosition:'left',
                                                             url:'/teacher/combotreeList',
                                                             idField:'Id',
                                                             treeField:'Name',
                                                             columns:[[
                                                                 {field:'Name',title:'名称',width:200}
                                                             ]]">
            </td>
        </tr>
        <tr>
            <td class="left b">预约日期:</td>
            <td>
                <input class="easyui-datebox" name="classDate" data-options="required:true"/>
            </td>
            <td class="left b">开始时间:</td>
            <td>
                <input class="easyui-timespinner" name="startHour" data-options="required:true,showSeconds:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">结束时间:</td>
            <td>
                <input class="easyui-timespinner" name="endHour" data-options="required:true,showSeconds:true"/>
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
