<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <#include "../base/header.html">
    <script>
        $(function () {
            const names = ['Id',];
            const models = [{name: 'Id', index: 'Id', hidden: true},];
            $.post("/field/openList", function (data) {
                for (let i = 0; i < data.length; i++) {
                    names.push(data[i].cnTitle);
                    if ( data[i].fieldCode.indexOf("Is")>=0){
                        models.push({
                            name: '' + data[i].fieldCode + '',
                            index: '' + data[i].fieldCode + '',
                            align: 'center',
                            formatter:School.formatBIT
                        });
                    }else if (data[i].fieldCode=="Sex") {
                        models.push({
                            name: '' + data[i].fieldCode + '',
                            index: '' + data[i].fieldCode + '',
                            align: 'center',
                            formatter:School.formatSex
                        });
                    }else {
                        models.push({
                            name: '' + data[i].fieldCode + '',
                            index: '' + data[i].fieldCode + '',
                            align: 'center',
                            width: 100
                        });
                    }
                }
                names.push("标签");
                models.push({name: 'TagName', index: 'TagName', align: 'center', width: 100});
                $("#list").ex_grid({
                    url: "/student/list",
                    idField: "Id",
                    textField: 'RealName',
                    treeGridModel: 'adjacency',
                    sortName: "Id",
                    colNames: names,
                    colModel: models,
                    pager: "#pager",
                    ExpandColumn: "RealName",
                    buttons:
                            [
                                {
                                    type: "AddOrUpdate",
                                    title: "学生管理-新增学生",
                                    btnName: "新增学生",
                                    btnCode: "Add",
                                    iconCls: "icon-add",
                                    listId: "#list",
                                    href: "/student/add",
                                    save: "save",
                                    fit:true,
                                    onLoad:function(){
                                        //查询出当前毕业年份
                                        $.post("/config/queryGraduationYear",{}, function (data) {
                                            //赋值
                                            $('#bynf').textbox('setValue',data.ParameterValue);
                                            //查询出班级树形
                                            //query(data.ParameterValue);
                                        });
                                        queryList();
                                        $("#originCode").combotree({
                                            panelWidth:200,
                                            labelPosition:'left',
                                            url:'/area/combotreeLists',
                                            idField:'AreaCode',
                                            textField:'AreaName',
                                            onBeforeExpand: function (node) {
                                                var $tree = $("#originCode").combotree("tree");
                                                $tree.tree("options").url = "/area/combotreeLists?id="+node.Id+"&type="+node.type;//展开节点时请求的后端接口（如果接口与初始时接口不同，可在此步进行修改）此处用静态json代替
                                            },
                                            onBeforeSelect:function(node){
                                                //返回树对象
                                                var tree = $(this).tree;
                                                //选中的节点是否为叶子节点,如果不是叶子节点,清除选中
                                                var isLeaf = tree('isLeaf', node.target);
                                                if(!isLeaf){
                                                    $("#originCode").tree("unselect");
                                                }
                                            }
                                        });
                                    }
                                },
                                {
                                    type: "AddOrUpdate",
                                    iconCls: "icon-edit",
                                    title: "学生管理-修改学生",
                                    btnName: "修改学生",
                                    btnCode: "Edit",
                                    listId: "#list",
                                    href: "/student/edit?id={id}",
                                    save: "save",
                                    fit:true,
                                    onLoad:function(){
                                        /*setTimeout("a()",500);
                                        $('#bynf').textbox().next('span').find('input').blur(function () {
                                            var year = $("#bynf").val();
                                            query(year);
                                        });*/
                                        setTimeout("voluation()",300);
                                        queryList();
                                        $("#originCode").combotree({
                                            panelWidth:200,
                                            labelPosition:'left',
                                            url:'/area/combotreeLists',
                                            idField:'AreaCode',
                                            textField:'AreaName',
                                            onBeforeExpand: function (node) {
                                                var $tree = $("#originCode").combotree("tree");
                                                $tree.tree("options").url = "/area/combotreeLists?id="+node.Id+"&type="+node.type;//展开节点时请求的后端接口（如果接口与初始时接口不同，可在此步进行修改）此处用静态json代替
                                            },
                                            onBeforeSelect:function(node){
                                                //返回树对象
                                                var tree = $(this).tree;
                                                //选中的节点是否为叶子节点,如果不是叶子节点,清除选中
                                                var isLeaf = tree('isLeaf', node.target);
                                                if(!isLeaf){
                                                    $("#originCode").tree("unselect");
                                                }
                                            },
                                            onExpand: function (node) {
                                                if (arrayList.length==0)
                                                    return
                                                for (var i = index; i < arrayList.length; i++) {
                                                    var item = arrayList[i]
                                                    var tree = $('#originCode').combotree("tree")
                                                    var node = tree.tree("find", item)
                                                    if (i != (arrayList.length - 1)) {
                                                        tree.tree("expand", node.target)
                                                    } else {
                                                        $('#originCode').combotree("setValue", item)
                                                    }
                                                }
                                                arrayList=[]
                                            }
                                        });
                                    }
                                },
                                {
                                    type: "Del",
                                    btnName: "删除",
                                    btnCode: "Delete",
                                    listId: "#list",
                                    save: "delete"
                                },
                                /*{
                                    type: "Del",
                                    btnName: "启用",
                                    btnCode: "Enable",
                                    confirm: "您确定要启用选中的学生吗？",
                                    listId: "#list",
                                    args: {flag: true},
                                    save: "disableOrEnable"
                                },
                                {
                                    type: "Del",
                                    btnName: "禁用",
                                    btnCode: "Disable",
                                    confirm: "您确定要禁用选中的学生吗？",
                                    listId: "#list",
                                    args: {flag: false},
                                    save: "disableOrEnable"
                                },*/
                                {
                                    type: "Custom",
                                    btnName: "导入",
                                    btnCode: "Import",
                                    listId: "#list",
                                    ClickFun:function(){
                                        ImportPanel.importPanel({
                                            title: "生源信息导入",
                                            width: 500,
                                            height: 300,
                                            iconCls: "icon-import",
                                            save: "/student/import"
                                        }, "学生基础信息导入模板.xls", "学生基础信息导入模板")
                                    }
                                },
                                {
                                    type: "Export",
                                    btnName: "导出",
                                    btnCode: "Export",
                                    listId: "#list",
                                    save: "/student/export"
                                },
                                {
                                    type: "AddOrUpdate",
                                    title: "学生管理-标签",
                                    btnName: "标签",
                                    btnCode: "Edit",
                                    listId: "#list",
                                    href: "/student/tag?id={id}",
                                    save: "updateTag"
                                }
                            ]
                });
            })
        })

        function query(year) {
            $("#cls").combotree({
                panelWidth:200,
                labelPosition:'left',
                url:'/class/combotreeLists?year='+year,
                idField:'Id',
                textField:'Name',
                onSelect:function(node){
                    if(node.children!='undefined'&&node.children!=null){
                        $('#cls').combotree('clear');
                    }
                },
                onClick: function(rowIndex, rowData){
                    $.post('/student/specialty',{classNo:rowIndex.Id},function(data){
                        $('#specialty').combobox('setValue',data.SpecialtyCode);
                        $('#faculty').textbox('setValue',data.FacultyName);
                        $('#campus').textbox('setValue',data.CampusName);
                    })
                }
            });
        };

        function a() {
            var cs = $('#cls').val();
            //获取该学生填写的毕业年份
            var year = $("#bynf").val();
            query(year);
            $('#cls').combotree('setValue',cs);
        }

        function queryList() {
            $("#bynf").numberspinner({
                required:true
            });
            $("#campus").combobox({
                valueField:'CampusCode',
                textField:'CampusName',
                url:'/campus/gridList',//校区
                onChange:function () {
                    var CampusCode = $("#campus").val();
                    $("#faculty").combobox({
                        valueField:'FacultyCode',
                        textField:'FacultyName',
                        url:'/faculty/findFacultyList?CampusCode='+CampusCode,//院系
                        onChange:function () {
                            var FacultyCode = $("#faculty").val();
                            $("#specialty").combobox({
                                valueField:'SpecialtyCode',
                                textField:'name',
                                url:'/specialty/findSpecialtyList?FacultyCode='+FacultyCode,//专业
                                onChange:function () {
                                    var SpecialtyCode = $("#specialty").val();
                                    $("#cls").combobox({
                                        valueField:'ClassNo',
                                        textField:'ClassName',
                                        url:'/class/findClassList?SpecialtyCode='+SpecialtyCode,//班级
                                        required:true
                                    })
                                },
                                required:true
                            })
                        },
                        required:true
                    })
                },
                required:true
            });
        }

        function voluation() {
            $("#campus").combobox({
                valueField:'CampusCode',
                textField:'CampusName',
                url:'/campus/gridList',//校区
                required:true
            });
            $('#campus').combobox('setValue',$("#campuss").val());
            var CampusCode = $("#campuss").val();
            $("#faculty").combobox({
                valueField:'FacultyCode',
                textField:'FacultyName',
                url:'/faculty/findFacultyList?CampusCode='+CampusCode,//院系
                required:true
            });
            $('#faculty').combobox('setValue',$("#facultys").val());
            var FacultyCode = $("#facultys").val();
            $("#specialty").combobox({
                valueField:'SpecialtyCode',
                textField:'name',
                url:'/specialty/findSpecialtyList?FacultyCode='+FacultyCode,//专业
                required:true
            });
            $('#specialty').combobox('setValue',$("#specialtys").val());
            var SpecialtyCode = $("#specialtys").val();
            $("#cls").combobox({
                valueField:'ClassNo',
                textField:'ClassName',
                url:'/class/findClassList?SpecialtyCode='+SpecialtyCode,//班级
                required:true
            });
            $('#cls').combobox('setValue',$("#clss").val());
        }

        function initFormCallback(data) {
            var code =data.originCode;
            if (code != null && code != undefined && code != "") {
                $.post("/area/combotreeEcho", {areaCode: code}, function (data) {
                    if (data != null && data.length>0) {
                        arrayList = data;
                        var tree = $('#originCode').combotree("tree")
                        var node = tree.tree("find", arrayList[0])
                        if (node.target) {
                            tree.tree("collapse", node.target)
                            tree.tree("expand", node.target)
                            index = 1;
                        }
                    }
                })
            }
        }
    </script>
</head>
<body>
<div class="search_area" id="search">
    <div class="form-search form-search-top" style="text-align:left;padding-left:10px;">
        <div class="adv-select-label">姓名/学号/考生/身份证号：</div>
        <input name="sm_RealName-StudentNumber-ExamineNumber-IdCard" type="text" value=""/>
        <div class="adv-select-label">班级：</div>
        <input class="easyui-combotreegrid" name="s_ClassNumber"
               data-options="panelWidth:500,
                            labelPosition:'left',
                            url:'/class/combotreeList',
                           idField:'Id',
                            treeField:'Name',
                            columns:[[
                                {field:'Name',title:'名称',width:200}
                            ]]">
        <div class="adv-select-label">性别：</div>
        <select id="s_Sex" name="s_Sex">
            <option value="">==所有==</option>
            <option value="1">男</option>
            <option value="0">女</option>

        </select>
        <div class="adv-select-label">标签：</div>
        <input class="easyui-combobox" name="s_sst.TagId"
               data-options="
                       valueField: 'Id',
                       textField: 'Title',
                       url: '/tag/queryTagList'">

        <button type="button" class="btn btn-primary" id="btnSearch">查 询</button>
        <button type="reset" class="btn btn-info" id="btnReset">重 置</button>
    </div>

</div>
<div data-options="region:'center'">
    <div class="data-wrap">
        <div class="data-operation">

            <div class="button-operation">
                <!--放按钮的层11-->
            </div>

            <div class="clear"></div>
        </div>
        <div class="data-list">
            <table id="list"></table>
            <div id="pager"></div>
            <script src="/static/main/Scripts/jqgrid/js/jquery.jqpager.js"></script>
            <script src="/static/main/Scripts/jqgrid/js/bootstrap.paginator.min.js"></script>
            <script>
                var pageUnit = "条"
            </script>
            <div id="sorry" style="display: none; margin-top: 55px;" align="center">
                <small>暂无符合条件的数据.</small>
            </div>
            <div class="pager_operation">
                <div class="page-info-block">
                    共<span id="total_records"></span>条 第<span id="current_page" style="display: none;"></span><input
                        type="hidden" id="gopage_url"/><input type="text" id="gopage" name="gopage" value=""/>/<span
                        id="total_page"></span>页 <span class="pager-gopager" id="gopager-img" onclick="gopager();"
                                                       title="跳转">&nbsp;</span>
                </div>
                <div class="pagination" id="work-pager-block"></div>
                <div class="page-info-block">
                    <div class="btn-group dropup pager-selbox-div" id="pager-selbox-div">
                        <button style="border:none;padding:0px;"></button>
                        <button class="btn pager-selbox-button dropdown-toggle" id="pager-selbox" title="显示条数"
                                data-toggle="dropdown"></button>
                        <ul class="dropdown-menu pager-selbox-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
