<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<from id="from" action="/notice/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="right b width100">公告类型：</td>
            <td>
                <input class="easyui-combobox" name="typeCode" data-options="required:true,
                                                                         valueField: 'TypeCode',
                                                                         textField: 'TypeName',
                                                                         url: '/noticeType/noticeTypeList'">
            </td>

        </tr>
        <tr>
            <td class="right b">标题：</td>
            <td>
                <input class="easyui-textbox" name="title" data-options="required:true,validType:'validBytesLength[100]'" style="width: 300px">
            </td>
        </tr>
        <tr>
            <td class="right b">副标题：</td>
            <td>
                <textarea name="subTitle" rows="3" style="width: 400px;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="right b">封面：</td>
            <td>
                <input class="easyui-textbox" name="cover" data-options="required:true"
                       id="fmtp">
                <a href="javascript:;" class="file">选择文件
                    <input type="file" name="file" id="upload-file1" onchange="show1();"
                           style="width: 70px;height: 30px; margin-left: -52px;">
                </a>
            </td>
        </tr>
        <tr>
            <td class="right b">视频地址：</td>
            <td>
                <input class="easyui-textbox" name="videoUrl"
                       data-options="required:true" id="wjdz">
                <a href="javascript:;" class="file">选择文件
                    <input type="file" name="file" id="upload-file" onchange="show();"
                           style="width: 50px;height: 30px;margin-left: -60px;">
                </a>
            </td>

        </tr>
        <tr>
            <td class="right b">是否置顶：</td>
            <td>
                <select class="easyui-combobox" name="isTop" data-options="required:true">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="right b">内容：</td>
            <td>
                <input type="hidden" id="ue_content" name="content">
                <script id="content" type="text/plain">

                </script>
            </td>


            <!--<td class="left b">点击数</td>
            <td>
                <input class="easyui-textbox" name="clickCount"
                       data-options="required:true">
            </td>-->
        </tr>
        <!--<tr>
            <td class="left b">发布人</td>
            <td>
                <input class="easyui-textbox" name="author"
                       data-options="required:true">
            </td>
            <td class="left b">发布部门</td>
            <td>
                <input class="easyui-textbox" name="resource"
                       data-options="required:true">
            </td>
        </tr>-->
        <!--<tr>
            <td class="left b">发布时间</td>
            <td>
                <input class="easyui-datebox" name="createDate"
                       data-options="required:true">
            </td>
            <td class="left b">发布人Id</td>
            <td>
                <input class="easyui-textbox" name="userId"
                       data-options="required:true">
            </td>
        </tr>-->
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
<link rel="stylesheet" href="/static/homePage/css/upload.css">
<script type="text/javascript" src="/static/homePage/js/upload.js"></script>
</body>
</html>
