<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/corp/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">

    <fieldset>
        <legend>登录信息</legend>
        <table class="tb1">
            <tbody>
            <tr>
                <td class="right b width150">用户名：</td>
                <td>
                    <input name="loginId" type="hidden">
                    <input class="easyui-textbox" name="UserName"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">登录密码：</td>
                <td>
                    <input class="easyui-passwordbox" name="PassWord"
                           data-options="required:true">
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>单位信息</legend>

        <table class="tb1">
            <tbody>
            <tr>

                <td class="right b width150">单位名称：</td>
                <td  colspan="3">
                    <input class="easyui-textbox" name="CorpName"
                           data-options="required:true" style="width: 500px;">
                </td>

            </tr>
            <tr>
                <td class="right b">单位经济类型代码：</td>
                <td style="width: 200px;">
                    <input class="easyui-combobox" name="EconomicTypeCode"
                           data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/DWJJLXDM'">
                </td>
                <td class="right b">单位性质代码：</td>
                <td>
                    <input class="easyui-combobox" name="NatureCdoe"
                           data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/DWXZDM'">
                </td>
            </tr>
            <tr>
                <td class="right b">单位行业代码：</td>
                <td>
                    <input class="easyui-combobox" name="IndustryCode"
                           data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/HYFLDM'">
                </td>
                <td class="right b">单位规模代码：</td>
                <td>
                    <input class="easyui-combobox" name="ScaleCode"
                           data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/QYGMDM'">
                </td>
            </tr>
            <tr>
                <td class="right b">注册资金：</td>
                <td>
                    <input class="easyui-combobox" name="CapitalCode"
                           data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/ZCZJDM'">
                </td>
                <td class="right b">成立日期：</td>
                <td>
                    <input class="easyui-datebox" name="EstablishmentDate"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">组织机构代码：</td>
                <td>
                    <input class="easyui-textbox" name="OrganizetionCode"
                           data-options="required:true">
                    <!--<input class="easyui-combobox" name="organizetionCode"
                           data-options="required:true,
                           valueField: 'MemberValue',
                           textField: 'DisplayText',
                           url: '/dictionary/dictionaryCode/ZCZJDM'">-->
                </td>
                <td class="right b">联系人：</td>
                <td>
                    <input class="easyui-textbox" name="Contactor"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">联系电话：</td>
                <td>
                    <input class="easyui-textbox" name="ContactPhone" validType="mobile"
                           data-options="required:true">
                </td>
                <td class="right b">固定电话：</td>
                <td>
                    <input class="easyui-textbox" name="FixPhone" validType="phone"
                           data-options="required:false">
                </td>
            </tr>
            <tr>
                <td class="right b">单位联系地址：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="Address"
                           data-options="required:true" style="width: 400px;">
                </td>
            </tr>
            <tr>
                <td class="right b">电子邮箱：</td>
                <td>
                    <input class="easyui-textbox" name="Email" validType="email"
                           data-options="required:true">
                </td>
                <td class="right b">邮政编码：</td>
                <td>
                    <input class="easyui-textbox" name="PostCode" validType="zip"
                           data-options="required:false">
                </td>
            </tr>
            <tr>
                <td class="right b">传真号码：</td>
                <td>
                    <input class="easyui-textbox" name="Fax" validType="faxno"
                           data-options="required:false">
                </td>
                <td class="right b">单位所在地代码：</td>
                <td>
                    <input class="easyui-textbox" name="OrginCode" id="OrginCode"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">主页地址：</td>
                <td>
                    <input class="easyui-textbox" name="Website"
                           data-options="required:false">
                </td>
                <td class="right b">QQ号码：</td>
                <td>
                    <input class="easyui-textbox" name="QQ" data-options="required:false">
                </td>
            </tr>
            <tr>
                <td class="right b">营业执照照片：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="BusinessImage"
                           data-options="required:false" id="fmtp" style="width: 150px !important;">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file1" onchange="uploadPhoto('fmtp','upload-file1','cs1','yl1');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs1">
                        <img id="yl1" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                </td>
            </tr>
            <tr>
                <td class="right b">组织机构图片：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="OrganizetionImage"
                           data-options="required:false" id="fmtp2" style="width: 150px !important;">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file2" onchange="uploadPhoto('fmtp2','upload-file2','cs2','yl2');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs2">
                        <img id="yl2" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                </td>
            </tr>
            <tr>
                <td class="right b">企业LOGO：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="Logo"
                           data-options="required:false" style="width: 150px !important;" id="wjdz">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file" onchange="uploadPhoto('wjdz','upload-file','cs','yl');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs">
                        <img id="yl" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                    <!--<input class="easyui-filebox" name="logo" id="upload-file"
                           data-options="required:true,onChange:function(){show();},prompt:'请选择文件...'" style="width: 210px !important;">-->
                </td>
            </tr>
            <tr>
                <td class="right b">校企合作图片：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="SchoolCorpImage"
                           data-options="required:false" id="fmtp3" style="width: 150px !important;">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file3" onchange="uploadPhoto('fmtp3','upload-file3','cs3','yl3');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs3">
                        <img id="yl3" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                </td>
            </tr>
            <tr>
                <td class="right b">身份证正面照：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="IdCardPicPos"
                           data-options="required:false" id="fmtp4" style="width: 150px !important;">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file4" onchange="uploadPhoto('fmtp4','upload-file4','cs4','yl4');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs4">
                        <img id="yl4" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                </td>
            </tr>
            <tr>
                <td class="right b">身份证反面照：</td>
                <td colspan="3">
                    <input class="easyui-textbox" name="IdCardPicNeg"
                           data-options="required:false" id="fmtp5" style="width: 150px !important;">
                    <a href="javascript:;" class="file">选择文件
                        <input type="file" name="file" id="upload-file5" onchange="uploadPhoto('fmtp5','upload-file5','cs5','yl5');"
                               style="width: 70px;height: 30px; margin-left: -52px;" accept="image/*">
                    </a>
                    <a target="_blank" href="" id="cs5">
                        <img id="yl5" src="/video/yqsh.jpg" style="width: 30px;height: 25px;margin-left: 5px;">点击查看大图
                    </a>
                </td>
            </tr>
            <tr>
                <td class="right b">单位简介：</td>
                <td colspan="3">
                    <!--<input class="easyui-textbox" name="description"
                           data-options="required:true" id="nr">-->
                    <textarea cols="60"   name="Description" rows="5" style="width:400px !important;height:80px !important;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="right b">备注：</td>
                <td colspan="3">
                    <textarea cols="60"   name="Remark" rows="5" style="width:400px !important;height:80px !important;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="right b">审核状态：</td>
                <td colspan="3">
                    <select class="easyui-combobox" name="Status" data-options="required:true">
                        <option value="0">待审核</option>
                        <option value="1">通过</option>
                        <option value="2">拒绝</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="right b">审核意见：</td>
                <td colspan="3">
                    <textarea cols="60"   name="ExamineRemark" rows="5" style="width:400px !important;height:80px !important;"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</from>
<!--<div style="margin-left: 20px;">
    <script id="editor"  type="text/plain"></script>
</div>-->

<script src="/static/main/EditFrom.js"></script>
<script src="/static/homePage/js/fieldValidation.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/homePage/css/upload.css">
<script type="text/javascript" src="/static/homePage/js/upload.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/main/Scripts/ueditor-1.4.3.3-jsp/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/main/Scripts/ueditor-1.4.3.3-jsp/ueditor.all.js"></script>
<script type="text/javascript" src="/static/main/Scripts/ueditor-1.4.3.3-jsp/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {
        setTimeout(function () {
            $("#cs").attr('href',$("#wjdz").val());
            $("#yl").attr("src",$("#wjdz").val());
            $("#cs1").attr('href',$("#fmtp").val());
            $("#yl1").attr("src",$("#fmtp").val());
            $("#cs2").attr('href',$("#fmtp2").val());
            $("#yl2").attr("src",$("#fmtp2").val());
            $("#cs3").attr('href',$("#fmtp3").val());
            $("#yl3").attr("src",$("#fmtp3").val());
            $("#cs4").attr('href',$("#fmtp4").val());
            $("#yl4").attr("src",$("#fmtp4").val());
            $("#cs5").attr('href',$("#fmtp5").val());
            $("#yl5").attr("src",$("#fmtp5").val());
        },500);
    });

/*    $(function(){
        $("#nr").next().hide();
        ResetEditor(editor);
        var ue = UE.getEditor('editor');
        ue.ready(function () {
            ue.setContent($("#nr").val());
            UE.getEditor('editor').addListener('blur',function(editor){
                $("#nr").textbox("setValue",ue.getContent());
            });
        });
    });

    function ResetEditor() {
        UE.getEditor('editor', {
            initialFrameHeight: 300,
            initialFrameWidth: 600,
            enableAutoSave: false,
            elementPathEnabled: false,
            wordCount: false,
            //z-index: 1
            /!*  toolbars: [
             [
             'fontfamily', 'fontsize', 'forecolor', 'backcolor', 'bold', 'italic', 'underline', '|',
             'link', '|',
             ]
             ]  *!/
        });
    }*/

</script>
</body>
</html>
