<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>双选会名称</span>
</p>
<div class="ele-header">
    <div class="bg box-s">
        <p>双选会名称</p>
        <div style="margin-top: 40px">教室 ：T-101室</div>
        <div>发布时间 ：2018-08-19&nbsp&nbsp&nbsp&nbsp13:00</div>
        <div>开始时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00</div>
        <div>截止时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00 ~ 2018-08-30&nbsp&nbsp&nbsp&nbsp18:00</div>
    </div>
    <a href="" class="zw-pro-btn cff text-center margintoptwo">参&nbsp&nbsp加</a>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">公司列表</span>
    </div>
    <div class="recruit margintopone">
        <a href="c-com-pro.html" class="recruit-news ele-news afterclear">
            <img class="bt-l" src="img/comp-logo.png" alt="">
            <div class="bt-l" >
                <p class="c32 onepai">易科士信息产业有限公司</p>
                <div class="onepai">联系人 ：谢经理</div>
                <div class="onepai">联系电话 ：18901731279</div>
            </div>
        </a>
    </div>
    <div class="recruit">
        <a href="c-com-pro.html" class="recruit-news ele-news afterclear">
            <img class="bt-l" src="img/comp-logo.png" alt="">
            <div class="bt-l" >
                <p class="c32 onepai">易科士信息产业有限公司</p>
                <div class="onepai">联系人 ：谢经理</div>
                <div class="onepai">联系电话 ：18901731279</div>
            </div>
        </a>
    </div>
    <div class="recruit">
        <a href="c-com-pro.html" class="recruit-news ele-news afterclear">
            <img class="bt-l" src="img/comp-logo.png" alt="">
            <div class="bt-l" >
                <p class="c32 onepai">易科士信息产业有限公司</p>
                <div class="onepai">联系人 ：谢经理</div>
                <div class="onepai">联系电话 ：18901731279</div>
            </div>
        </a>
    </div>
    <div class="recruit">
        <a href="c-com-pro.html" class="recruit-news ele-news afterclear">
            <img class="bt-l" src="img/comp-logo.png" alt="">
            <div class="bt-l" >
                <p class="c32 onepai">易科士信息产业有限公司</p>
                <div class="onepai">联系人 ：谢经理</div>
                <div class="onepai">联系电话 ：18901731279</div>
            </div>
        </a>
    </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>

</body>
</html>
