<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="/static/weixin/css/V_employment.css" />
    <link rel="stylesheet" href="/static/weixin/css/swiper-4.2.6.min.css">
</head>
<body>
<div class="main-header" style="background: url(/static/weixin/img/c-main-d_033.png) center center no-repeat;background-size: cover;">
    <!--页头导航-->
    <div class="index-header afterclear" >
        <a href="" class="bt-l">
            <img src="/static/weixin/img/main-d_03.png" alt="">
        </a>
        <a href="" class="bt-r">
            <img src="/static/weixin/img/c-main-d_03.png" alt="">
        </a>
    </div>
    <div class="stu-ind afterclear">
        <img src="/static/weixin/img/c-main-d_07.png" alt="" class="bt-l">
        <div class="bt-l">
            <p>公司：成都易科士信息产业有限公司</p>
            <p>地址：成都高新西区天宇路一号</p>
            <p>注册时间：2018-06</p>
        </div>
    </div>
    <!--最新职位-->
    <div class="recruit">
        <div class="recruit-title afterclear">
            <span class="bt-l cff ">简历列表</span>
            <a href="c-jianli-list.html" class="bt-r cff">更多 >></a>
        </div>
        <a href="" class="recruit-news margintopone box-s ele-news afterclear">
            <img class="bt-l" src="/static/weixin/img/comp-logo.png" alt="">
            <div class="bt-l">
                <p class="c32 onepai">姓名-胡歌</p>
                <div class="onepai">投递职位 ：产品经理</div>
                <div class="onepai">投递时间 ：2018-08-15&nbsp&nbsp&nbsp13:40</div>
            </div>
        </a>
        <a href="" class="recruit-news box-s ele-news afterclear">
            <img class="bt-l" src="/static/weixin/img/comp-logo.png" alt="">
            <div class="bt-l">
                <p class="c32 onepai">姓名-胡歌</p>
                <div class="onepai">投递职位 ：产品经理</div>
                <div class="onepai">投递时间 ：2018-08-15&nbsp&nbsp&nbsp13:40</div>
            </div>
        </a>
        <a href="" class="recruit-news box-s ele-news afterclear">
            <img class="bt-l" src="/static/weixin/img/comp-logo.png" alt="">
            <div class="bt-l">
                <p class="c32 onepai">姓名-胡歌</p>
                <div class="onepai">投递职位 ：产品经理</div>
                <div class="onepai">投递时间 ：2018-08-15&nbsp&nbsp&nbsp13:40</div>
            </div>
        </a>
        <a href="" class="recruit-news box-s ele-news afterclear">
            <img class="bt-l" src="/static/weixin/img/comp-logo.png" alt="">
            <div class="bt-l">
                <p class="c32 onepai">姓名-胡歌</p>
                <div class="onepai">投递职位 ：产品经理</div>
                <div class="onepai">投递时间 ：2018-08-15&nbsp&nbsp&nbsp13:40</div>
            </div>
        </a>
    </div>
</div>
<!--专场招聘-->
<div class="recruit " style="margin-top:31rem">
    <div class="recruit-title afterclear">
        <span class="bt-l">招聘会</span>
        <a href="" class="bt-r">更多 >></a>
    </div>
    <!--专场招聘轮播-->
    <div class="swiper-container margintopone" id="swiper"  >
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="/static/weixin/img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center ">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="/static/weixin/img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="/static/weixin/img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="/static/weixin/img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center ">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<a href="" class="margintoptwo bottom" style="width: 92%;margin: 0 auto;margin-bottom: 80px">
    <img src="/static/weixin/img/main-d_22-26.png" alt="">
</a>
<div class=" footer mob-main-menu" >
    <a href="c-main.html" class="cbl text-center">
        <img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-23.png" alt=""><br>
        首&nbsp&nbsp&nbsp页
    </a>
    <a href="c-xxzx.html" ><img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-24.png" alt=""><br>消息中心</a>
    <a href="c-gongn.html"><img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-25.png" alt=""><br>功&nbsp&nbsp&nbsp能</a>
</div>
<script type="text/javascript" src="/static/weixin/js/jquery-2.1.1.js" ></script>
<script type="text/javascript" src="/static/weixin/js/swiper-4.2.6.min.js"></script>
<script>

    var swiper = new Swiper('#swiper', {
        autoplay:{
            delay: 2500,
            disableOnInteraction: false,
        },
        loop:true,
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
</body>
</html>
