<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>公司信息</span>
</p>
<div class="ele-header" style="background-image: url(img/main-com-pro.png);background-size: cover;">
    <div class="bg box-s" style="min-height: 500px">
        <p>成都易科士信息产业有限公司</p>
        <div style="margin-top: 40px">职位类型 ：公务员</div>
        <div>招聘人数 ：12人</div>
        <div>学历要求 ：大专</div>
        <div>发布时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00</div>
        <p style="margin-top: 40px">单位介绍</p>
        <div style="margin-top: 40px">单位介绍信息</div>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">职位列表</span>
    </div>
    <div class="recruit">
        <a href="" class="recruit-news margintopone">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
    </div>
</div>

<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
