<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
</head>
<body>
<div class="main-header">
    <!--页头导航-->
    <div class="index-header afterclear">
        <a href="" class="bt-l">
            <img src="img/main-d_03.png" alt="">
        </a>
        <a href="" class="bt-r">
            <img src="img/x-main-d_03.png" alt="">
        </a>
    </div>
    <div class="stu-ind afterclear">
        <img src="img/x-main-d_07.png" alt="" class="bt-l">
        <div class="bt-l">
            <p>学生-胡歌</p>
            <p>学号：912098183109</p>
            <p>毕业时间：2018-06</p>
        </div>
    </div>
    <!--最新职位-->
    <div class="recruit">
        <div class="recruit-title afterclear">
            <span class="bt-l cff ">最新职位</span>
            <a href="" class="bt-r cff">更多 >></a>
        </div>
        <a href="" class="recruit-news margintopone">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
        <a href="" class="recruit-news">
            <p>职位名称</p>
            <div >2018-05-30</div>
        </a>
    </div>
</div>
<!--专场招聘-->
<div class="recruit " style="margin-top: 20rem">
    <div class="recruit-title afterclear">
        <span class="bt-l">招聘会</span>
        <a href="" class="bt-r">更多 >></a>
    </div>
    <!--专场招聘轮播-->
    <div class="swiper-container margintopone" id="swiper"  >
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center ">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide swiper-slide2">
                <a href="">
                    <img src="img/main-d_11-15.png" alt="">
                    <div>
                        <div class="text-center ">专场招聘</div>
                        <div class="news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div>
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="index-main index-main2" >
    <p class="main-title text-center margintopone">——<span>校园新闻</span>——</p>
    <div class="index-news afterclear margintoptwo" style="min-height:208px">
        <div class="bt-l news-date text-center">
            <span>13</span>
            <p>2018/08</p>
        </div>
        <a href="" class="bt-r  news-text">
            <p>【新闻】第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
            <div>
                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
            </div>
        </a>
    </div>
    <div class="index-news afterclear margintoptwo" style="min-height:208px">
        <div class="bt-l news-date text-center">
            <span>09</span>
            <p>2018/08</p>
        </div>
        <a href="" class="bt-r  news-text">
            <p>【公告】第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
            <div>
                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
            </div>
        </a>
    </div>
    <div class="index-news afterclear margintoptwo" style="min-height:208px">
        <div class="bt-l news-date text-center">
            <span>29</span>
            <p>2018/07</p>
        </div>
        <a href="" class="bt-r  news-text">
            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
            <div>
                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
            </div>
        </a>
    </div>
    <a href="" class="text-center margintoptwo">
        查看更多
    </a>
</div>
<a href="" class="margintoptwo bottom" style="width: 92%;margin: 0 auto;margin-bottom: 80px">
    <img src="img/main-d_22-26.png" alt="">
</a>
<div class=" footer mob-main-menu" >
    <a href="" class="cbl text-center">
        <img style="margin-top: .25rem" src="img/x-main-d_14-23.png" alt=""><br>
        首&nbsp&nbsp&nbsp页
    </a>
    <a href="" ><img style="margin-top: .25rem" src="img/x-main-d_14-24.png" alt=""><br>消息中心</a>
    <a href=""><img style="margin-top: .25rem" src="img/x-main-d_14-25.png" alt=""><br>功&nbsp&nbsp&nbsp能</a>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
<script type="text/javascript" src="js/swiper-4.2.6.min.js"></script>
<script>

    var swiper = new Swiper('#swiper', {
        autoplay:{
            delay: 2500,
            disableOnInteraction: false,
        },
        loop:true,
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
</body>
</html>
