<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
    <style>
        input::-webkit-input-placeholder{
            color: rgba(255,255,255,.3);
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color: rgba(255,255,255,.3);
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color: rgba(255,255,255,.3);
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color: rgba(255,255,255,.3);
        }
        input::placeholder{  /* Internet Explorer 10-11 */
            color: rgba(255,255,255,.3);
        }
    </style>
</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg">
    <a href=""></a><span>双选会</span>
</p>
<div class="search" style="background-image: url(img/news-bg.png);height: 200px">
    <form action="">
        <input class="cff" type="text" placeholder="请输入关键词">
    </form>
    <div class="find_nav ppp " >
        <div class="find_nav_left">
            <div class="find_nav_list" id="pagenavi1">
                <ul>
                    <li><a href="#" class="active"><span class="part active ">全&nbsp&nbsp部</span>
                    <li><a href="#" ><span class="part "  >最新新闻</span></a></li>
                    <li><a href="#"><span class="part">就业快讯</span></a></li>
                    <li><a href="#"><span class="part">就业快讯1</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pg-main">
        <div id="slider1" class="swipe">
            <ul class="box01_list">
                <li class="li_list">
                    <div class="index-news c32 afterclear margintopone" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li_list">
                    <div class="index-news  c32 afterclear margintopone" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>2第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li_list">
                    <div class="index-news c32 afterclear margintopone" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                </li>
                <li class="li_list c32">
                    <div class="index-news c32 afterclear margintopone" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                    <div class="index-news c32 afterclear margintoptwo" style="min-height: 193px">
                        <div class="bt-l news-date text-center">
                            <span>29</span>
                            <p>2018/07</p>
                        </div>
                        <a href="" class="bt-r  news-text">
                            <p>第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行</p>
                            <div class="c95">
                                8月9日晚，第二届中国-东盟友好组织领导人会晤暨第六届中国-东盟青少年文化交流节闭幕式暨友好交流之夜在我校举行。该活动由中国人民对外友好协会和四川省人民政府共同主办，四川省人民对外友好协会承办。
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
<script type="text/javascript" src="js/touchslider.js"></script>
<script type="text/javascript">
    $(".find_nav_list").css("left",0);

    $(".find_nav_list li").each(function(){
        $(".sideline").css({left:0});
        $(".find_nav_list li").eq(0).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
    });
    var nav_w=$(".find_nav_list li").first().width();
    $(".sideline").width(nav_w);
    $(".find_nav_list li").on('click', function(){
        nav_w=$(this).width();
        $(".sideline").stop(true);
        $(".sideline").animate({left:$(this).position().left},300);
        $(".sideline").animate({width:nav_w});
        $(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
        var fn_w = ($(".find_nav").width() - nav_w) / 2;
        var fnl_l;
        var fnl_x = parseInt($(this).position().left);
        if (fnl_x <= fn_w) {
            fnl_l = 0;
        } else if (fn_w - fnl_x <= flb_w - fl_w) {
            fnl_l = flb_w - fl_w;
        } else {
            fnl_l = fn_w - fnl_x;
        }
        $(".find_nav_list").animate({
            "left" : fnl_l
        }, 300);

    });
    var fl_w=$(".find_nav_list").width();
    var flb_w=$(".find_nav_left").width();
    $(".find_nav_list").on('touchstart', function (e) {
        var touch1 = e.originalEvent.targetTouches[0];
        x1 = touch1.pageX;
        y1 = touch1.pageY;
        ty_left = parseInt($(this).css("left"));
    });
    $(".find_nav_list").on('touchmove', function (e) {
        var touch2 = e.originalEvent.targetTouches[0];
        var x2 = touch2.pageX;
        var y2 = touch2.pageY;
        if(ty_left + x2 - x1>=0){
            $(this).css("left", 0);
        }else if(ty_left + x2 - x1<=flb_w-fl_w){
            $(this).css("left", flb_w-fl_w);
        }else{
            $(this).css("left", ty_left + x2 - x1);
        }
        if(Math.abs(y2-y1)>0){
            e.preventDefault();
        }
    });


    for(n=1;n<9;n++){
        var page='pagenavi'+n;
        var mslide='slider'+n;
        var mtitle='emtitle'+n;
        arrdiv = 'arrdiv' + n;
        var as=document.getElementById(page).getElementsByTagName('a');
        var tt=new TouchSlider({id:mslide,'auto':'-1',fx:'ease-out',direction:'left',speed:600,timeout:5000,'before':function(index){
                var as=document.getElementById(this.page).getElementsByTagName('a');
                as[this.p].className='';
                this.p=index;

                fnl_x =  parseInt($(".find_nav_list li").eq(this.p).position().left);

                nav_w=$(".find_nav_list li").eq(this.p).width();
                $(".sideline").stop(true);
                $(".sideline").animate({left:$(".find_nav_list li").eq(this.p).position().left},300);
                $(".sideline").animate({width:nav_w},100);
                $(".find_nav_list li").eq(this.p).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
                var fn_w = ($(".find_nav").width() - nav_w) / 2;
                var fnl_l;
                if (fnl_x <= fn_w) {
                    fnl_l = 0;
                } else if (fn_w - fnl_x <= flb_w - fl_w) {
                    fnl_l = flb_w - fl_w;
                } else {
                    fnl_l = fn_w - fnl_x;
                }

                $(".find_nav_list").animate({
                    "left" : fnl_l
                }, 300);
            }});
        tt.page = page;
        tt.p = 0;
        //console.dir(tt); console.dir(tt.__proto__);

        for(var i=0;i<as.length;i++){
            (function(){
                var j=i;
                as[j].tt = tt;
                as[j].onclick=function(){
                    this.tt.slide(j);
                    return false;
                }
            })();
        }
    }
</script>
</body>
</html>
