<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>公司信息</span>
</p>
<div class="ele-header" style="background-image: url(img/news-pro.png)">
    <div class="bg box-s" style="min-height: 160px">
        <p>新闻标题详情</p>
        <div class="margintopone news-name">
            <span>就业快讯</span>
            <span>胡老师</span>
            <span>2018-08-20&nbsp&nbsp&nbsp16:00</span>
        </div>
    </div>
    <div class="recruit content-article">
        <p class="one-p" style="margin-top: 40px">在中科院近日举行的一项科研成果新闻发布会上，中科院院长白春礼院士谈及前不久的一篇媒体报道《莫让“海归”标签“逼”走优秀博士生》，他说，对于做出重大贡献的青年学者，要不唯“出身和经历”，真正做到“英雄不问出处”，给予他们与海外优秀人才同等甚至更高的科研经费和生活待遇。</p>
        <p class="one-p">白春礼说，这些都集中反映了当前人才评价和激励政策过度看重“经历”和“出身”，而忽略了科研水平和科研贡献这个本质，有失公允。这对于刚刚走上科研道路的年轻人，可能会影响他们正确科研价值观的建立。</p>
        <p class="one-p">就科学规律而言，科学研究本不存在所谓“出身论”。只不过，“海归”作为西学东渐的载体，自带光环，笼罩神州百余年。最具戏剧性和代表性的例子是《围城》里的方鸿渐。及至改革开放以来给予海归人才优厚待遇，也只可谓之特殊发展阶段的特殊政策，万不能因此奉其为人才评价的金科玉律。</p>
    </div>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
