<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
    <style>
        input::-webkit-input-placeholder{
            color: #C1BCB6;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color: #C1BCB6;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color: #C1BCB6;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color: #C1BCB6;
        }
        input::placeholder{  /* Internet Explorer 10-11 */
            color: #C1BCB6;
        }
    </style>
</head>
<body class="com-re bgf" >
    <div class="recruit sea-his afterclear">
        <input class="bt-l f24" type="text" placeholder="请输入想要搜索的关键词......">
        <a class="bt-r f30 " href="">取消</a>
    </div>
    <div class="recruit ">
        <div class="recruit-title afterclear margintoptwo">
            <span class="bt-l">搜索历史</span>
        </div>
        <div class="his-btn text-center afterclear">
            <a href="" class="bg c95  f28">搜索历史</a>
            <a href=""  class="bg c95 f28">搜索历史</a>
            <a href=""  class="bg c95 f28">搜索历史</a>
            <a href=""  class="bg c95 f28">搜索历史</a>
        </div>
        <div class="recruit-title afterclear margintoptwo ">
            <span class="bt-l">搜索条件</span>
        </div>
        <div class="his-btn text-center afterclear">
            <a href="" class="bg c95  f28">搜索条件</a>
            <a href=""  class="bg c95 f28">搜索条件</a>
            <a href=""  class="bg c95 f28">搜索条件</a>
            <a href=""  class="bg c95 f28">搜索条件</a>
        </div>
    </div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
