<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="/static/weixin/css/V_employment.css" />
    <link rel="stylesheet" href="/static/weixin/css/swiper-4.2.6.min.css">
</head>
<body>
<div class="main-header" style="background-image: url(/static/weixin/img/t-main-d_02.png);height: 460px;background-size: cover;">
    <!--页头导航-->
    <div class="index-header afterclear">
        <a href="" class="bt-l">
            <img src="/static/weixin/img/main-d_03.png" alt="">
        </a>
        <div  class="bt-r main-xiala" >
            <img src="/static/weixin/img/t-main-d_04.png" alt="">
            <ul class="main-ul bg br10 box-ss">
                <img src="/static/weixin/img/top-s.png" alt="">
                <li>
                    <a href="">
                        <img src="/static/weixin/img/xiala-icon02.png" alt="">
                        就业推荐表
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/static/weixin/img/xiala-icon01.png" alt="">
                        修改密码
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/static/weixin/img/xiala-icon.png" alt="">
                        注销
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="stu-ind afterclear">
        <img src="/static/weixin/img/x-main-d_07.png" alt="" class="bt-l">
        <div class="bt-l">
            <p>管理员-超级管理员</p>
            <p>部门 ：教务处</p>
            <p>上次登录时间：2018-06-15&nbsp&nbsp09:10</p>
        </div>
    </div>
    <div class="recruit t-list box margintopone">
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">单位注册总数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08.png" alt="">
        </a>
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">今日单位注册总数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08-10.png" alt="">
        </a>
    </div>
    <div class="recruit t-list box margintopone">
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">发布职务总数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08-17.png" alt="">
        </a>
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">今日发布职务总数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08-18.png" alt="">
        </a>
    </div>
    <div class="recruit t-list box margintopone">
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">当前学生信息已核对人数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08-21.png" alt="">
        </a>
        <a href="" class="bg box-s br10 afterclear">
            <div class="bt-l">
                <p style="font-size: 60px">8888</p>
                <p class="f20 c95">当前学生信息未核对人数</p>
            </div>
            <img class="bt-r" src="/static/weixin/img/t-main-d_08-22.png" alt="">
        </a>
    </div>
</div>

<div class=" footer t-footer mob-main-menu text-center" >
    <a href="t-main.html" class="cbl ">
        <img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-23.png" alt=""><br>
        首&nbsp&nbsp&nbsp页
    </a>
    <a href="t-shzx.html">
        <img style="margin-top: .25rem" src="/static/weixin/img/t-main-_03-16.png" alt=""><br>
        审核中心
    </a>
    <a href="" ><img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-24.png" alt=""><br>消息中心</a>
    <a href="t-gongn.html"><img style="margin-top: .25rem" src="/static/weixin/img/x-main-d_14-25.png" alt=""><br>功&nbsp&nbsp&nbsp能</a>
</div>
<script type="text/javascript" src="/static/weixin/js/jquery-2.1.1.js" ></script>
<script type="text/javascript" src="/static/weixin/js/swiper-4.2.6.min.js"></script>
<script src="/static/weixin/js/V_employment.js"></script>
</body>
</html>
