<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>签约派遣</span>
</p>
<div class="bg  xxbtn box" style="padding:30px 50px">
    <div  class="f28 text-center cff xxbtn-bg liuyan-btn">签约信息</div>
    <div  class="f28 text-center tongzhi-btn">派遣信息</div>
</div>
<div class="liuyan margintoptwo">
    <div class="recruit br10 bg lh50 box-s f24 lyxq">
        <p class="">毕业年份：2015</p>
        <p class="">姓名：胡歌</p>
        <p class="">身份证号：51012893102831031</p>
        <p class="">考生号：313123123</p>
        <p class="">性别：男</p>
        <p class="">民族：汉</p>
        <p class="">政治面貌：党员</p>
        <p class="">生源所在地：四川</p>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">其他信息</span>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">个人信息</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">简历</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">改签</p>
            </div>
        </a>
    </div>
</div>
<div class="tongzhi margintoptwo" style="display: none">
    <div class="recruit br10 bg lh50 box-s f24 lyxq">
        <p class="">毕业年份：2015</p>
        <p class="">姓名：胡歌</p>
        <p class="">身份证号：51012893102831031</p>
        <p class="">考生号：313123123</p>
        <p class="">性别：男</p>
        <p class="">民族：汉</p>
        <p class="">政治面貌：党员</p>
        <p class="">生源所在地：四川</p>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">其他信息</span>
    </div>
    <div class="recruit margintopone box-s br10">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">个人信息</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s br10">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">简历</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s br10">
        <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 f30 onepai">改签</p>
            </div>
        </a>
    </div>

</div>
<div style="height: 5rem"></div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
<script>
    $(function(){
        $(".xxbtn>div").click(
            function () {
                $(this).addClass('xxbtn-bg cff').siblings().removeClass('xxbtn-bg cff');

            }
        );
        $(".liuyan-btn").click(
            function () {
                $('.liuyan').fadeIn();
                $(".tongzhi").fadeOut();
            }
        );
        $(".tongzhi-btn").click(
            function () {
                $('.tongzhi').fadeIn();
                $(".liuyan").fadeOut();
            }
        );
    });
</script>
</body>
</html>
