<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
    <style>
        input::-webkit-input-placeholder{
            color: rgba(255,255,255,.3);
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color: rgba(255,255,255,.3);
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color: rgba(255,255,255,.3);
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color: rgba(255,255,255,.3);
        }
        input::placeholder{  /* Internet Explorer 10-11 */
            color: rgba(255,255,255,.3);
        }
    </style>
</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>改签补办</span>
</p>
<div class="search">
    <form action="">
        <input class="cff" type="text" placeholder="请输入关键词">
    </form>
</div>
<div class="recruit-title recruit margintoptwo afterclear">
    <span class="bt-l">学生列表</span>
</div>
<div class="recruit margintopone">
    <a href="" class="recruit-news ele-news afterclear bg" style="background-image: none">
        <div class="bt-l" style="margin-left: 0;width: 55%">
            <p class="c32 onepai">姓名-胡歌</p>
            <div class="onepai">院系-专业-班级</div>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <p class="bt-r cbl">2018-08-10</p>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <div class="bt-r hf-btn hf-btn2 f24 text-center c95 ">
                已更新数据
            </div>
        </div>
    </a>
</div>
<div class="recruit margintopone">
    <a href="" class="recruit-news ele-news afterclear bg" style="background-image: none">
        <div class="bt-l" style="margin-left: 0;width: 55%">
            <p class="c32 onepai">姓名-胡歌</p>
            <div class="onepai">院系-专业-班级</div>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <p class="bt-r cbl">2018-08-10</p>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <div class="bt-r hf-btn hf-btn2 f24 text-center c95 " >
                已更新数据
            </div>
        </div>
    </a>
</div>
<div class="recruit margintopone">
    <a href="" class="recruit-news ele-news afterclear bg" style="background-image: none">
        <div class="bt-l" style="margin-left: 0;width: 55%">
            <p class="c32 onepai">姓名-胡歌</p>
            <div class="onepai">院系-专业-班级</div>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <p class="bt-r cbl">2018-08-10</p>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <div class="bt-r hf-btn text-center f24 cff" >
                更新数据
            </div>
        </div>
    </a>
</div>
<div class="recruit margintopone">
    <a href="" class="recruit-news ele-news afterclear bg" style="background-image: none">
        <div class="bt-l" style="margin-left: 0;width: 55%">
            <p class="c32 onepai">姓名-胡歌</p>
            <div class="onepai">院系-专业-班级</div>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <p class="bt-r cbl">2018-08-10</p>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <div class="bt-r hf-btn text-center f24 cff" >
                更新数据
            </div>
        </div>
    </a>
</div>
<div class="recruit margintopone">
    <a href="" class="recruit-news ele-news afterclear bg" style="background-image: none">
        <div class="bt-l" style="margin-left: 0;width: 55%">
            <p class="c32 onepai">姓名-胡歌</p>
            <div class="onepai">院系-专业-班级</div>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <p class="bt-r cbl">2018-08-10</p>
        </div>
        <div class="bt-r afterclear" style="width: 35%">
            <div class="bt-r hf-btn text-center f24 cff" >
                更新数据
            </div>
        </div>
    </a>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
