<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bg" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>学生基础信息</span>
</p>
<div class="jl-header xsxx-header lh40 cff ">
    <img class="box-s" src="img/x-main-d_07.png" alt="">
    <p class="margintoptwo">毕业年份：2015</p>
    <p class="">姓名：胡歌</p>
    <p class="">身份证号：51012893102831031</p>
    <p class="">考生号：313123123</p>
    <p class="">性别：男</p>
    <p class="">民族：汉</p>
    <p class="">政治面貌：党员</p>
    <p class="">生源所在地：四川</p>
    <a href="" class="hf-btn cbl bg text-center margintoptwo" style="background:#ffffff;margin: 0 auto">详细信息</a>
</div>
<div class="recruit-title recruit margintoptwo afterclear">
    <span class="bt-l">其他信息</span>
</div>
<div class="recruit margintopone box-s br10">
    <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
        <div class="bt-l" style="margin-left: 0" >
            <p class="c32 f30 onepai">签约派遣</p>
        </div>
    </a>
</div>
<div class="recruit margintopone box-s br10">
    <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
        <div class="bt-l" style="margin-left: 0" >
            <p class="c32 f30 onepai">简历</p>
        </div>
    </a>
</div>
<div class="recruit margintopone box-s br10">
    <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
        <div class="bt-l" style="margin-left: 0" >
            <p class="c32 f30 onepai">改签</p>
        </div>
    </a>
</div>
<div class="recruit margintopone box-s br10">
    <a href="" class="recruit-news recruit-news2 ele-news afterclear" >
        <div class="bt-l" style="margin-left: 0" >
            <p class="c32 f30 onepai">补办</p>
        </div>
    </a>
</div>

<script type="text/javascript" src="../宿管系统/js/jquery-2.1.1.js" ></script>
</body>
</html>
