<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
</head>
<body>
<div class="gn-header">
    <p class="cff com-title com-title2 text-center ">
        <a href=""></a><span>功能</span>
    </p>
    <div class="stu-ind afterclear bg c32 box-s margintoptwo">
        <img src="img/x-main-d_07.png" alt="" class="bt-l">
        <div class="bt-l">
            <p>学生-胡歌</p>
            <p>学号：20180001</p>
            <p>毕业时间：2018-06</p>
        </div>
    </div>
    <div class="recruit margintopone" >
        <div class="recruit-title afterclear">
            <span class="bt-l">我的基础信息</span>
        </div>
        <a href="" class="x-gn-btn bg box-s margintopone afterclear">
            <img class="bt-l" src="img/t-main-gn_05.png" alt="">
            <div class="bt-l">
                <p>基础信息修改</p>
                <p class="c95">信息修改，简历投递</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone" >
        <div class="recruit-title afterclear">
            <span class="bt-l">简历管理</span>
        </div>
        <a href="" class="x-gn-btn bg box-s margintopone afterclear">
            <img class="bt-l" src="img/t-main-gn_06.png" alt="">
            <div class="bt-l">
                <p>我的派遣简历信息</p>
                <p class="c95">签约，派遣信息修改</p>
            </div>
        </a>
    </div>
    <div class="recruit margintopone " style="margin-bottom: 5rem">
        <div class="recruit-title afterclear">
            <span class="bt-l">招聘会管理</span>
        </div>
        <a href="" class="x-gn-btn bg box-s margintopone afterclear">
            <img class="bt-l" src="img/t-main-gn_07.png" alt="">
            <div class="bt-l">
                <p>改签申请</p>
                <p class="c95">改签信息</p>
            </div>
        </a>
        <a href="x-buban.html" class="x-gn-btn bg box-s margintopone afterclear" style="margin-left: 2.5%">
            <img class="bt-l" src="img/t-main-gn_05-16.png" alt="">
            <div class="bt-l">
                <p>补办申请</p>
                <p class="c95">补办信息</p>
            </div>
        </a>
    </div>
</div>

<div class=" footer mob-main-menu text-center" >
    <a href="" class=" ">
        <img style="margin-top: .25rem" src="img/x-main-d_14.png" alt=""><br>
        首&nbsp&nbsp&nbsp页
    </a>
    <a href="" class="" ><img style="margin-top: .25rem" src="img/x-main-d_14-24.png" alt=""><br>消息中心</a>
    <a href="" class="cbl"><img style="margin-top: .25rem" src="img/x-main-d_14-18.png" alt=""><br>功&nbsp&nbsp&nbsp能</a>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
<script type="text/javascript" src="js/swiper-4.2.6.min.js"></script>

</body>
</html>
