<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bg" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>简历</span>
</p>
<div class="jc-bg">
    <div class="jl-header c32 box-s" style="background: #ffffff;background-image: none;margin-top: 0;" >
        <img class="box-s" src="img/x-main-d_07.png" alt="">
        <p>姓名 ：胡歌</p>
        <p>学历 ：本科</p>
        <p>手机 ：19273013917</p>
        <p class="afterclear">
            <span class="bt-l">E-mail ：462896138@qq.com</span>
            <a href="x-jcxxxg.html" class="bt-r f24 cbl bj-btn">
                <img src="img/x-main-jc_07-08.png" style="vertical-align: middle" alt="">
                <span>编辑</span>
            </a>
        </p>
    </div>
    <!--其他信息-->
    <div class="recruit margintoptwo">
        <div class="recruit-title afterclear">
            <span class="bt-l c32 ">其他信息</span>
        </div>
        <a href="" class="recruit-news margintopone" style="height: 100px;line-height: 60px">
            <p>简历信息</p>
        </a>
    </div>
    <!--其他信息-->
    <div class="recruit margintoptwo" >
        <div class="recruit-title afterclear">
            <span class="bt-l c32 ">已投递职位</span>
        </div>
        <a href="" class="recruit-news margintopone" style="height: 100px;line-height: 60px">
            <p>已投递职位</p>
        </a>
    </div>
    <div style="height: 5rem"></div>
</div>

<script type="text/javascript" src="../宿管系统/js/jquery-2.1.1.js" ></script>
</body>
</html>
