<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bg" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>简历</span>
</p>
<div class="jl-header   cff box-s">
    <img class="box-s" src="img/x-main-d_07.png" alt="">
    <p>姓名 ：胡歌</p>
    <p>学历 ：本科</p>
    <p>手机 ：19273013917</p>
    <p>E-mail ：462896138@qq.com</p>
</div>
<!--求职意向-->
<div class="recruit margintoptwo ">
    <div class="recruit-title afterclear">
        <span class="bt-l" style="margin-bottom: 10px">求职意向</span>
        <a href="x-qzyx.html" class="bt-r c32" >
            <img src="img/x-main-jl_07.png" alt="" style="vertical-align: middle">
            <span>编辑</span>
        </a>
    </div>
</div>
<div class="recruit bg box-s c32 margintopone " style="padding: 35px;border-radius: 10px;height: 190px;font-size: .96rem">
    <p class="lh40">求职意向 ：</p>
    <p class="lh40">期望薪资 ：</p>
    <p class="lh40">工作地址 ：</p>
</div>
<div class="recruit margintoptwo ">
    <div class="recruit-title afterclear">
        <span class="bt-l">教育培训</span>
        <a href="" class="bt-r c32" >
            <img src="img/x-main-jl_07.png" alt="" style="vertical-align: middle">
            <span>编辑</span>
        </a>
    </div>
</div>
<div class="recruit bg box-s margintopone pxjl br10">
    <div>
        <img src="img/x-main-jl_13.png" alt="">
        <p class="f20">2015.9~2019.6</p>
        <p class="f24 cbl lh50"><b>四川理工</b></p>
        <p class="f20 lh50">计算机信息管理 | 本科</p>
    </div>
    <div>
        <img src="img/x-main-jl_13.png" alt="">
        <p class="f20">2015.9~2019.6</p>
        <p class="f24 cbl lh50"><b>四川理工</b></p>
        <p class="f20 lh50">计算机信息管理 | 本科</p>
    </div>
</div>
<div class="recruit margintoptwo ">
    <div class="recruit-title afterclear">
        <span class="bt-l">证书以及获奖经历</span>
        <a href="" class="bt-r c32" >
            <img src="img/x-main-jl_07.png" alt="" style="vertical-align: middle">
            <span>编辑</span>
        </a>
    </div>
</div>
<div class="recruit bg box-s margintopone br10" style="padding: 35px">
    <div class="afterclear">
        <img class="bt-l" src="img/x-main-jl_17.png" alt="">
        <div class="bt-l" style="border-bottom: 1px solid #ededed;margin-left: 25px;padding-bottom: 25px;width: 80%">
            <p class="f24 lh40">思科认证</p>
            <p class="f20 lh40">2016.10</p>
            <p class="f20 lh40">认证机构名称</p>
        </div>
    </div>
    <div class="afterclear margintopone">
        <img class="bt-l" src="img/x-main-jl_17.png" alt="">
        <div class="bt-l" style="border-bottom: 1px solid #ededed;margin-left: 25px;padding-bottom: 25px;width: 80%">
            <p class="f24 lh40">思科认证</p>
            <p class="f20 lh40">2016.10</p>
            <p class="f20 lh40">认证机构名称</p>
        </div>
    </div>
</div>
<div class="recruit margintoptwo ">
    <div class="recruit-title afterclear">
        <span class="bt-l">社会实践</span>
        <a href="" class="bt-r c32" >
            <img src="img/x-main-jl_07.png" alt="" style="vertical-align: middle">
            <span>编辑</span>
        </a>
    </div>
</div>
<div class="recruit bg box-s margintopone pxjl br10">
    <div>
        <img src="img/x-main-jl_13.png" alt="">
        <p class="f20">2015.9~2019.6</p>
        <p class="f24 cbl lh50"><b>四川理工</b></p>
        <p class="f20 lh50">计算机信息管理 | 本科</p>
    </div>
    <div>
        <img src="img/x-main-jl_13.png" alt="">
        <p class="f20">2015.9~2019.6</p>
        <p class="f24 cbl lh50"><b>四川理工</b></p>
        <p class="f20 lh50">计算机信息管理 | 本科</p>
    </div>
</div>
<div style="height: 5rem"></div>
<script type="text/javascript" src="../宿管系统/js/jquery-2.1.1.js" ></script>
</body>
</html>
