<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>留言详情</span>
</p>
<div class="bg recruit box-s lyxq br10 margintopone">
    <p class="f28">创新不是完成KPI而是解决“用户痛点”</p>
    <p class="f20 c95 margintopone">时间：2018-08-10</p>
    <p class="f24 lh40 margintoptwo">腾讯公司董事局主席兼CEO马化腾在第三届世界互联网大会回答媒体问题时谈到，为了创新而创新，工作反而容易变形。我们更关注把为用户服务的意识能灌输到每一个产品设计、每一个运营的员工心里，而不是为了完成领导交代的任务。</p>
    <p class="text-right margintopone">
        <span class="c95">
            <img src="img/x-main-lyxy_04.png" style="margin-right: 10px;vertical-align: middle" alt="">8888回复
        </span>
        <span class="c95" style="margin-left: 50px">
            <img src="img/x-main-lyxy_04-06.png" style="margin-right: 10px;vertical-align: middle" alt="">8888赞
        </span>
    </p>
</div>
<!--<form class="margintoptwo bg recruit br10 box-s" action="">-->
    <!--<label for="" >-->
        <!--<span class="text-right f24 " style="width: 20%" >留言内容</span>-->
        <!--<input style="background: none;width: 78%"  type="text" placeholder="输入留言内容" >-->
    <!--</label>-->
    <!--<label for="" class="afterclear">-->
        <!--<span class="f20 c95 bt-l" style="width: 50%">备注：输入内容不得超过50字</span>-->
        <!--<button class="cff text-center f24 bt-r hf-btn margintopone" >回&nbsp&nbsp复</button>-->
    <!--</label>-->
<!--</form>-->
<div class="recruit-title recruit margintoptwo afterclear">
    <span class="bt-l">回复内容</span>
</div>
<a href="" class="recruit margintopone box-s br10 huifu afterclear" >
    <div class="c32 bt-l">
        <p class="f28">留言人：胡老师</p>
        <p class="f24 margintopone">赞，匠心设计，方得始终。</p>
    </div>
    <div class="c95 f20 bt-r text-right">
        <p>时间：2018-08-10</p>
    </div>
</a>
<div style="height: 5rem"></div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
