<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />
</head>
<body class="com-re bgf" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>消息中心</span>
</p>
<div class="bg  xxbtn box" style="padding:30px 50px">
    <div  class="f24 text-center cff xxbtn-bg liuyan-btn">留&nbsp&nbsp言</div>
    <div  class="f24 text-center tongzhi-btn">通&nbsp&nbsp知</div>
</div>
<div class="liuyan">
    <a href="" class="tjly margintoptwo recruit br10">
        <div class="cff bt-l">
            <img src="img/x-main-xxzcx_11.png" style="vertical-align: middle" alt="">
            <span style="margin-left:10px">添加留言</span>
        </div>
        <div href="" class="bt-r bg text-center">编辑留言</div>
    </a>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">留言列表</span>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">留言标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
            </div>
        </a>
    </div>
</div>
<div class="tongzhi" style="display: none">
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">通知列表</span>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
    <div class="recruit margintopone box-s">
        <a href="" class="recruit-news ele-news afterclear">
            <div class="bt-l" style="margin-left: 0" >
                <p class="c32 onepai">通知标题</p>
                <div class="onepai">时间 ：2018-08-10</div>
                <div class="onepai">回复 ：周老师</div>
                <div  class="onepai">状态 ：<span class="cbl">未读</span></div>
            </div>
        </a>
    </div>
</div>
<div style="height: 5rem"></div>
<div class=" footer mob-main-menu text-center" >
    <a href="" >
        <img style="margin-top: .25rem" src="img/x-main-d_14.png" alt=""><br>
        首&nbsp&nbsp&nbsp页
    </a>
    <a href="" class="cbl "><img style="margin-top: .25rem" src="img/x-main-d_14-16.png" alt=""><br>消息中心</a>
    <a href="" ><img style="margin-top: .25rem" src="img/x-main-d_14-25.png" alt=""><br>功&nbsp&nbsp&nbsp能</a>
</div>
<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
<script>
    $(function(){
        $(".xxbtn>div").click(
            function () {
                $(this).addClass('xxbtn-bg cff').siblings().removeClass('xxbtn-bg cff');

            }
        );
        $(".liuyan-btn").click(
            function () {
                $('.liuyan').fadeIn();
                $(".tongzhi").fadeOut();
            }
        );
        $(".tongzhi-btn").click(
            function () {
                $('.tongzhi').fadeIn();
                $(".liuyan").fadeOut();
            }
        );
    });
</script>
</body>
</html>
