<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no" />
    <title>微就业</title>
    <link rel="stylesheet" href="css/V_employment.css" />

</head>
<body class="com-re bg" >
<p class="c32 com-title text-center bg" >
    <a href=""></a><span>职位详情</span>
</p>
<div class=" margintoptwo">
    <div class="bg box-s zw-pro cff" style="background: url(img/main-zw-pro.png) no-repeat center center;background-size: cover">
        <p>成都易科士信息产业有限公司</p>
        <div style="margin-top: 40px">职位类型 ：公务员</div>
        <div>招聘人数 ：12人</div>
        <div>学历要求 ：大专</div>
        <div>发布时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00</div>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">职位职能</span>
    </div>
    <div class="bg box-s zw-pro c32 margintopone" >
        <div >职位类型 ：公务员</div>
        <div>招聘人数 ：12人</div>
        <div>学历要求 ：大专</div>
        <div>发布时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00</div>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">职位描述</span>
    </div>
    <div class="bg box-s zw-pro c32 margintopone" >
        <div >职位类型 ：公务员</div>
        <div>招聘人数 ：12人</div>
        <div>学历要求 ：大专</div>
        <div>发布时间 ：2018-08-20&nbsp&nbsp&nbsp&nbsp09:00</div>
    </div>
    <div class="recruit-title recruit margintoptwo afterclear">
        <span class="bt-l">公司信息</span>
    </div>
    <div class="recruit margintopone ">
        <a href="" class="recruit-news box-s ele-news afterclear">
            <img class="bt-l" src="img/comp-logo.png" alt="">
            <div class="bt-l" >
                <p class="c32 onepai">易科士信息产业有限公司</p>
                <div class="onepai">单位行业 ：互联网</div>
                <div class="onepai">公司人数 ：100~500人</div>
            </div>
        </a>
    </div>
    <a href="" class="zw-pro-btn text-center cff">投递简历</a>
</div>

<script type="text/javascript" src="js/jquery-2.1.1.js" ></script>
</body>
</html>
