<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<table class="tab1" cellpadding="3">
    <tbody>
        <tr>
            <td class="left b">PositionId:</td>
            <td>
                <input class="easyui-textbox" name="PositionId" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">SpecialtyCode:</td>
            <td>
                <input class="easyui-textbox" name="SpecialtyCode" data-options="required:true"/>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
