<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<from id="from" action="/postionSpecialty/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tab1" cellpadding="3">
        <tbody>
            <tr>
                <td class="left b">PositionId:</td>
                <td>
                    <input class="easyui-textbox" name="positionId" data-options="required:true"/>
                </td>
            </tr>
            <tr>
                <td class="left b">SpecialtyCode:</td>
                <td>
                    <input class="easyui-textbox" name="specialtyCode" data-options="required:true"/>
                </td>
            </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
