<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/download/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="left b">标题</td>
            <td>
                <input class="easyui-textbox" name="title" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">文件地址</td>
            <td>
                <input class="easyui-textbox" name="url" data-options="required:true"
                       id="wjdz">
                <a href="javascript:;" class="file">选择文件
                    <input type="file" name="file" id="upload-file" onchange="show();"
                           style="width: 70px;height: 30px; margin-left: -52px;">
                </a>
            </td>
        </tr>
        <!--<tr>
            <td class="left b">下载数</td>
            <td>
                <input class="easyui-textbox" name="downCount"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">发布时间</td>
            <td>
                <input class="easyui-datebox" name="createDate"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">发布人Id</td>
            <td>
                <input class="easyui-textbox" name="userId"
                       data-options="required:true">
            </td>
        </tr>-->
        <tr>
            <td class="left b">文件类型</td>
            <td>
                <select class="easyui-combobox" name="typeCode" data-options="required:true" id="code">
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
<link rel="stylesheet" href="/static/homePage/css/upload.css">
<script type="text/javascript" src="/static/homePage/js/upload.js"></script>
<script>
    $(function () {
        var html = "";
        url = '/downloadType/list';
        $.post(url, {page: 1, rows: 50, sidx: "Id", sord: "asc"}, function (data) {
            for (var i = 0; i < data.rows.length; i++) {
                html += '<option value ="' + data.rows[i].TypeCode + '">' + data.rows[i].TypeName + '</option>';
            }
            $('#code').append(html);
            $("#code").combobox({});
        })

    });
</script>
</body>
</html>
