<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body{
            font-family: Simsun;
        }
    </style>
</head>
<body>
<h1>HTML to PDF 呵呵</h1>
<p>
    <span class="itext">itext hhhh</span> 2.0.8 <span class="description">converting HTML to PDF哈哈</span>
</p>
<table>
    <tr>
        <th class="label">Title谢谢</th>
        <td>iText - Java HTML to PDF星星</td>
    </tr>
    <tr>
        <th>URL是是是</th>
        <td>http://hmkcode.com/itext-html-to-pdf-using-java错错错</td>
    </tr>
</table>
</body>
</html>
