<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<from id="from" action="/corpPart/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tab1" cellpadding="3">
        <tbody>
        <tr>
            <td class="left b">单位名称:</td>
            <td>
                <input class="easyui-combogrid" name="CorpId" data-options="required:true,
                                                                        panelWidth:500,
                                                                        idField:'Id',
                                                                        sortName:'Id',
                                                                        sortOrder:'asc',
                                                                        textField:'CorpName',
                                                                        url:'/corp/list',
                                                                        pagination : true,//是否分页
                                                                        rownumbers:true,//序号
                                                                        collapsible:false,//是否可折叠的
                                                                        //fit: true,//自动大小
                                                                        pageSize: 10,//每页显示的记录条数，默认为10
                                                                        pageList: [10,20,50,100,500],//可以设置每页记录条数的列表
                                                                        method:'post',
                                                                        columns:[[
                                                                        //{field:'Id',title:'ID',width:100},
                                                                        {field:'CorpName',title:'单位名称',width:100},
                                                                        {field:'Address',title:'单位地址',width:100},
                                                                        {field:'EstablishmentDate',title:'单位成立日期',width:130},
                                                                        ]]">
            </td>
        </tr>
        <tr>
            <td class="left b">双选会名称:</td>
            <td>
                <input class="easyui-combobox" name="ElectionId" data-options="required:true,
                                                                         valueField:'Id',
                                                                         textField:'Title',
                                                                         url:'/election/electionList'"/>
            </td>
        </tr>
        <tr>
            <td class="left b">职位:</td>
            <td>
                <input class="easyui-combogrid" name="positionId"
                       data-options="required:true,
                       panelWidth:500,
                        idField:'Id',
                        sortName:'Id',
                        sortOrder:'asc',
                        textField:'Title',
                        multiple: true,//多选
                        url:'/postion/list',
                        pagination : true,//是否分页
                        rownumbers:true,//序号
                        collapsible:false,//是否可折叠的
                        //fit: true,//自动大小
                        pageSize: 10,//每页显示的记录条数，默认为10
                        pageList: [10,20,50,100,500],//可以设置每页记录条数的列表
                        method:'post',
                        columns:[[
                        //{field:'Id',title:'ID',width:100},
                        {field:'Title',title:'职位名称',width:100},
                        {field:'WorkAddress',title:'工作地点',width:100},
                        {field:'LevelCodeName',title:'学历要求',width:100},
                        {field:'Salary',title:'月薪',width:100},
                        ]]">
            </td>
        </tr>
        <tr>
            <td class="left b">展位:</td>
            <td>
                <input class="easyui-combobox" name="boothId"
                       data-options="required:true,
                       valueField: 'Id',
                       textField: 'BoothNumber',
                       url: '/booth/boothList'">
            </td>
        </tr>
        <tr>
            <td class="left b">申请时间:</td>
            <td>
                <input class="easyui-datebox" name="ApplyDate" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">招聘简章:</td>
            <td>
                <textarea class="easyui-validatebox textbox  validatebox-text" cols="60" data-options="validType:'maxLength[1000]'"
                          name="RecuitFiles" rows="5" style="width:100% !important;height:80px !important;"></textarea>
            </td>
        </tr>
        <tr>
            <td class="right b">审核状态：</td>
            <td colspan="3">
                <select class="easyui-combobox" name="Status" data-options="required:true">
                    <option value="0">待审核</option>
                    <option value="1">通过</option>
                    <option value="2">拒绝</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="right b">审核意见：</td>
            <td colspan="3">
                <textarea cols="60"   name="ExamineRemark" rows="5" style="width:400px !important;height:80px !important;"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
