<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/banner/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="left b">图片地址</td>
            <td>
                <input class="easyui-textbox" name="imgUrl" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">跳转地址</td>
            <td>
                <input class="easyui-textbox" name="redirectUrl" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">排序</td>
            <td>
                <input class="easyui-textbox" name="sort" type="number" data-options="required:true">
            </td>
        </tr>
        <!--<tr>
            <td class="left b">是否生效</td>
            <td>
                <select class="easyui-combobox" name="isEnabled" data-options="required:true">
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </td>
        </tr>-->
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
