<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <#include "../base/header.html">
    <script>
        $(function () {
            $("#list").ex_grid({
                url: "/place/list",
                idField: "Id",
                textField: 'Id',
                treeGridModel: 'adjacency',
                sortName: "Id",
                colNames: ['Id', "场地名称", "场地地址","场地类型","场地联系人","联系人方式","容纳人数","是否可用","开放时间段(开始）",
                    "开放时间段(结束)","每天开始时间点","每天结束时间点"],
                colModel: [
                    {name: 'Id', index: 'Id', hidden: true},
                    {name: 'Title', index: 'Title', align: "center", width: 200},
                    {name: 'Address', index: 'Address', align: "center", width: 200},
                    {name: 'TypeId', index: 'TypeId', align: "center", width: 100,formatter:placeType},
                    {name: 'Contactor', index: 'Contactor', align: "center", width: 100},
                    {name: 'ContactPhone', index: 'ContactPhone', align: "center", width: 100},
                    {name: 'Capacity', index: 'Capacity', align: "center", width: 100},
                    {name: 'IsEnabled', index: 'IsEnabled', align: "center", width: 100,formatter:School.formatBIT},
                    {name: 'StartDate', index: 'StartDate', align: "center", width: 200,formatter:fmtDate},
                    {name: 'EndDate', index: 'EndDate', align: "center", width: 200,formatter:fmtDate},
                    {name: 'StartHour', index: 'StartHour', align: "center", width: 100},
                    {name: 'EndHour', index: 'EndHour', align: "center", width: 100},
                ],
                pager: "#pager",
                ExpandColumn: "Id",
                buttons:
                        [
                            {
                                type: "AddOrUpdate",
                                title: "专场招聘场地管理-新增场地",
                                btnName: "新增场地",
                                btnCode: "Add",
                                iconCls: "icon-add",
                                listId: "#list",
                                href: "/place/add",
                                save: "save",
                                height: 500
                            },
                            {
                                type: "AddOrUpdate",
                                iconCls: "icon-edit",
                                title: "专场招聘场地管理-修改场地",
                                btnName: "修改场地",
                                btnCode: "Edit",
                                listId: "#list",
                                href: "/place/edit?id={id}",
                                save: "save",
                                height: 500
                            },
                            {
                                type: "Del",
                                btnName: "删除",
                                btnCode: "Delete",
                                listId: "#list",
                                save: "delete"
                            },
                            {
                                type: "Del",
                                btnName: "启用",
                                btnCode: "Enable",
                                confirm: "您确定要启用选中的场地吗？",
                                listId: "#list",
                                args: {flag: true},
                                save: "disableOrEnable"
                            },
                            {
                                type: "Del",
                                btnName: "禁用",
                                btnCode: "Disable",
                                confirm: "您确定要禁用选中的场地吗？",
                                listId: "#list",
                                args: {flag: false},
                                save: "disableOrEnable"
                            },
                            {
                                type: "Import",
                                btnName: "导入",
                                btnCode: "Import",
                                listId: "#list",
                                save: "/place/import"
                            },
                            {
                                type: "Export",
                                btnName: "导出",
                                btnCode: "Export",
                                listId: "#list",
                                save: "/place/export"
                            }
                        ]
            });
        })
        
        function placeType(value,row,index) {
            if(value == 1){
                return "固定";
            }else if(value ==2){
                return "临时";
            }
        }
    </script>
</head>
<body>

<div class="search_area" id="search">
    <div class="form-search form-search-top" style="text-align:left;padding-left:10px;">
        <div class="adv-select-label">场地名称/场地地址/场地联系人</div>
        <input class="easyui-textbox" name="sm_Title-Address-Contactor" value=""/>
        <div class="adv-select-label">开发时间段开始（大于）</div>
        <input class="easyui-datebox" name="s_StartDate_rt" value=""/>
        <div class="adv-select-label">开发时间段开始（小于）</div>
        <input class="easyui-datebox" name="s_StartDate_lt" value=""/>
    </div>
    <div class="form-search form-search-top" style="text-align:left;padding-left:10px;">
        <div class="adv-select-label">场地类型</div>
        <select class="easyui-combobox" name="s_typeId" >
            <option value="">==所有==</option>
            <option value="1">固定</option>
            <option value="2">临时</option>
        </select>
        <div class="adv-select-label">开发时间段结束（大于）</div>
        <input class="easyui-datebox" name="s_EndDate_rt" value=""/>
        <div class="adv-select-label">开发时间段结束（小于）</div>
        <input class="easyui-datebox" name="s_EndDate_lt" value=""/>
    </div>

    <div class="form-search form-search-top" style="text-align:left;padding:10px 0 0 10px;">
        <button type="button" class="btn btn-primary" id="btnSearch">查 询</button>
        <button type="reset" class="btn btn-info" id="btnReset">重 置</button>
    </div>
</div>

<div data-options="region:'center'">
    <div class="data-wrap">
        <div class="data-operation">

            <div class="button-operation">
                <!--放按钮的层11-->
            </div>

            <div class="clear"></div>
        </div>
        <div class="data-list">
            <table id="list"></table>
            <div id="pager"></div>
            <script src="/static/main/Scripts/jqgrid/js/jquery.jqpager.js"></script>
            <script src="/static/main/Scripts/jqgrid/js/bootstrap.paginator.min.js"></script>
            <script>
                var pageUnit = "条"
            </script>
            <div id="sorry" style="display: none; margin-top: 55px;" align="center">
                <small>暂无符合条件的数据.</small>
            </div>
            <div class="pager_operation">
                <div class="page-info-block">
                    共<span id="total_records"></span>条 第<span id="current_page" style="display: none;"></span><input
                        type="hidden" id="gopage_url"/><input type="text" id="gopage" name="gopage" value=""/>/<span
                        id="total_page"></span>页 <span class="pager-gopager" id="gopager-img" onclick="gopager();"
                                                       title="跳转">&nbsp;</span>
                </div>
                <div class="pagination" id="work-pager-block"></div>
                <div class="page-info-block">
                    <div class="btn-group dropup pager-selbox-div" id="pager-selbox-div">
                        <button style="border:none;padding:0px;"></button>
                        <button class="btn pager-selbox-button dropdown-toggle" id="pager-selbox" title="显示条数"
                                data-toggle="dropdown"></button>
                        <ul class="dropdown-menu pager-selbox-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
