<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/complaint/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="Id" data-options="required:true,label:'Id'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="StudentId"
                       data-options="required:true,label:'StudentId'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="CompanyId"
                       data-options="required:true,label:'CompanyId'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="JobId"
                       data-options="required:true,label:'JobId'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="TypeCode"
                       data-options="required:true,label:'TypeCode'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="Reason"
                       data-options="required:true,label:'Reason'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="CreateDate"
                       data-options="required:true,label:'CreateDate'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="Status"
                       data-options="required:true,label:'Status'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="AuditDate"
                       data-options="required:true,label:'AuditDate'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="AuditUserId"
                       data-options="required:true,label:'AuditUserId'">
            </td>
        </tr>
        <tr>
            <td class="left b"></td>
            <td>
                <input class="easyui-textbox" name="AuditReamrks"
                       data-options="required:true,label:'AuditReamrks'">
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
