<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<div style="padding: 10px;">
    <from id="from" action="/campus/edit/${id}" class="easyui-form">
        <input type="hidden" name="Id" value="${id}">
        <table class="tb1">
            <tbody>
            <tr>
                <td class="right b">校区名称：</td>
                <td>
                    <input class="easyui-textbox" name="campusName"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">校区代码：</td>
                <td>
                    <input class="easyui-textbox" name="campusCode"
                           data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="right b">地址：</td>
                <td>
                    <input class="easyui-textbox" name="address" data-options="required:false">
                </td>
            </tr>
            <tr>
                <td class="right b">排序：</td>
                <td>
                    <input class="easyui-numberbox" name="sort" data-options="required:true">
                </td>
            </tr>
            </tbody>
        </table>
    </from>
</div>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
