<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/position/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="left b">专场招聘Id</td>
            <td>
                <input class="easyui-textbox"  name="specialId"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="left b">职位Id</td>
            <td>
                <input class="easyui-textbox"  name="positionId"
                       data-options="required:true">
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/main/EditFrom.js"></script>
</body>
</html>
