<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<div style="padding: 10px;">
<table class="tb1">
    <tbody>
    <tr>
        <td class="right b">地区名称：</td>
        <td><input class="easyui-textbox" name="areaName"
                   data-options="required:true">
        </td>
    </tr>
    <tr>
        <td class="right b">地区代码：</td>
        <td><input class="easyui-textbox" name="areaCode"
                   data-options="required:true">
        </td>
    </tr>
    <tr>
        <td class="right b">上级地区：</td>
        <td><input class="easyui-combotreegrid" name="parentId"
                   data-options=" panelWidth:400,
                                labelPosition:'left',
                                url:'/area/combotreeList',
                                idField:'Id',
                                treeField:'AreaName',
                                columns:[[
                                    {field:'AreaName',title:'名称',width:200},
                                    {field:'AreaCode',title:'代码',width:200}
                                ]]">
        </td>
    </tr>
    <tr>
        <td class="right b">排序：</td>
        <td><input class="easyui-numberbox" name="sort"
                   data-options="required:true">
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
