<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <#include "../base/header.html">
    <script>
        $(function () {
            $("#list").ex_grid({
                url: "/recommendtable/list",
                idField: "Id",
                textField: 'Id',
                treeGridModel: 'adjacency',
                sortName: "recommend",
                colNames: ['Id', "姓名", "学号","是否推荐","意向工作地点","学院推荐意见","填写时间","填写人","推荐时间","推荐人","操作"],
                colModel: [
                    {name: 'Id', index: 'Id', hidden: true},
                    {name: 'RealName', index: 'RealName', align: "center", width: 100},
                    {name: 'StudentNumber', index: 'StudentNumber', align: "center", width: 100},
                    {name: 'recommend', index: 'recommend', align: "center", width: 100},
                    {name: 'HopeLocation', index: 'HopeLocation', align: "center", width: 100},
                    {name: 'FacultyRecommendation', index: 'FacultyRecommendation', align: "center", width: 100},
                    {name: 'CreateDate', index: 'CreateDate', align: "center", width: 150},
                    {name: 'Operator', index: 'Operator', align: "center", width: 100},
                    {name: 'RecommendDate', index: 'RecommendDate', align: "center", width: 150},
                    {name: 'RecommendUserId', index: 'RecommendUserId', align: "center", width: 100},
                    {name: "opera",
                        index: "opera",
                        align: "center",
                        width: 60,
                        formatter: function (value, obj, row) {
                            return "<a href='javascript:' class='btnA' onclick=\"showSign('"+row.Id+"','"+row.RealName+"')\">查看</a>"
                        }}
                ],
                pager: "#pager",
                ExpandColumn: "Id",
                buttons:
                        [
                            {
                                type: "Del",
                                btnName: "删除",
                                btnCode: "Delete",
                                listId: "#list",
                                save: "delete"
                            }
                        ]
            });
        })
        function showSign(id, realname) {
            School.showDivHasSave({
                title: realname+"-学生推荐信息",
                btnName: "学生推荐",
                href: "/recommendtable/edit?id="+id,
                save: "save",
                fit:true
            })
        }
    </script>
</head>
<body>
<div class="search_area" id="search">
    <div class="form-search form-search-top" style="text-align:left;padding-left:10px;">
        <div class="adv-select-label">姓名/学号/填写人/推荐人：</div>
        <input  name="sm_ss.RealName-ss.StudentNumber-sl.UserName-RecommendUserId" type="text" value="" />
        <button type="button" class="btn btn-primary" id="btnSearch">查 询</button>
        <button type="reset" class="btn btn-info" id="btnSearch">重置查询</button>
    </div>
</div>
<div data-options="region:'center'">
    <div class="data-wrap">
        <div class="data-operation">

            <div class="button-operation">
                <!--放按钮的层11-->
            </div>

            <div class="clear"></div>
        </div>
        <div class="data-list">
            <table id="list"></table>
            <div id="pager"></div>
            <script src="/static/main/Scripts/jqgrid/js/jquery.jqpager.js"></script>
            <script src="/static/main/Scripts/jqgrid/js/bootstrap.paginator.min.js"></script>
            <script>
                var pageUnit = "条"
            </script>
            <div id="sorry" style="display: none; margin-top: 55px;" align="center">
                <small>暂无符合条件的数据.</small>
            </div>
            <div class="pager_operation">
                <div class="page-info-block">
                    共<span id="total_records"></span>条 第<span id="current_page" style="display: none;"></span><input
                        type="hidden" id="gopage_url"/><input type="text" id="gopage" name="gopage" value=""/>/<span
                        id="total_page"></span>页 <span class="pager-gopager" id="gopager-img" onclick="gopager();"
                                                       title="跳转">&nbsp;</span>
                </div>
                <div class="pagination" id="work-pager-block"></div>
                <div class="page-info-block">
                    <div class="btn-group dropup pager-selbox-div" id="pager-selbox-div">
                        <button style="border:none;padding:0px;"></button>
                        <button class="btn pager-selbox-button dropdown-toggle" id="pager-selbox" title="显示条数"
                                data-toggle="dropdown"></button>
                        <ul class="dropdown-menu pager-selbox-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
