<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body>
<div style="padding: 10px;">
<table class="tb1">
    <tbody>
    <tr>
        <td class="right b width100">标签名称：</td>
        <td>
            <input class="easyui-textbox" name="title" data-options="required:true">
        </td>
    </tr>
    <tr>
        <td class="right b">排序：</td>
        <td>
            <input class="easyui-numberspinner" name="sort" data-options="required:false">
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
