<#--css-->
<link href="/static/main/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/jquery-easyui-1.5/themes/icon.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/jquery-easyui-1.5/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/jqgrid/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/jqgrid/css/ui.custom.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/jqgrid/css/ui.customer.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/webuploader/webuploader.css" rel="stylesheet" type="text/css"/>
<link href="/static/main/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css"/>
<#--公共js-->
<script src="/static/main/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/static/main/Scripts/jquery-easyui-1.5/jquery.easyui.min.js" type="text/javascript"></script>
<script src="/static/main/Scripts/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script src="/static/main/Scripts/jqgrid/js/i18n/grid.locale-cn.js" type="text/javascript"></script>
<script src="/static/main/Scripts/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="/static/main/Scripts/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/main/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="/static/main/Scripts/layer/layer.js" type="text/javascript"></script>
<script src="/static/homePage/js/convert.js" type="text/javascript"></script>
<#--配置js-->
<script src="/static/main/Scripts/Common.js" type="text/javascript"></script>
<script src="/static/main/Scripts/Utils.js" type="text/javascript"></script>
<script src="/static/main/Scripts/Verfiy.js" type="text/javascript"></script>
<script src="/static/main/Scripts/list.js" type="text/javascript"></script>

