<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<from id="from" action="/postion/edit/${id}" class="easyui-form">
    <input type="hidden" name="Id" value="${id}">
    <table class="tb1">
        <tbody>
        <tr>
            <td class="right b width120">选择单位：</td>
            <td  colspan="3">
                <input class="easyui-combogrid" name="CorpId" data-options="required:true,
                                                                        width:500,
                                                                        panelWidth:500,
                                                                        idField:'Id',
                                                                        sortName:'Id',
                                                                        sortOrder:'asc',
                                                                        textField:'CorpName',
                                                                        url:'/corp/list',
                                                                        pagination : true,//是否分页
                                                                        rownumbers:true,//序号
                                                                        collapsible:false,//是否可折叠的
                                                                        //fit: true,//自动大小
                                                                        pageSize: 10,//每页显示的记录条数，默认为10
                                                                        pageList: [10,20,50,100,500],//可以设置每页记录条数的列表
                                                                        method:'post',
                                                                        columns:[[
                                                                        //{field:'Id',title:'ID',width:100},
                                                                        {field:'CorpName',title:'单位名称',width:100},
                                                                        {field:'Address',title:'单位地址',width:100},
                                                                        {field:'EstablishmentDate',title:'单位成立日期',width:130},
                                                                        ]]">
            </td>
        </tr>
        <tr> <td class="right b">职位名称：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="Title" data-options="required:true" style="width: 400px">
            </td></tr>
        <tr>
            <td class="right b">工作地点：</td>
            <td style="width:300px">
                <input class="easyui-textbox" name="WorkAddress"
                       data-options="required:true">
            </td>
            <td class="right b">所属行业：</td>
            <td>
                <input class="easyui-combobox" name="IndustryCode"
                       data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/HYFLDM'">
            </td>
        </tr>
        <tr>
            <td class="right b">职位类型：</td>
            <td>
                <input class="easyui-combobox" name="TypeCode"
                       data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/ZWLBDM'">
            </td>
            <td class="right b">面向专业：</td>
            <td>
                <input class="easyui-combobox" name="SpecialtyCode" id="specialtyCode"
                       data-options="required:true,
                        multiple:true,
                       valueField: 'SpecialtyCode',
                       textField: 'SpecialtyName',
                       url: '/specialty/currentYearSpecialty'">
            </td>
        </tr>
        <tr>
            <td class="right b">学历要求：</td>
            <td>
                <input class="easyui-combobox" name="LevelCode"
                       data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/XLYQDM'">
            </td>
            <td class="right b">岗位类型：</td>
            <td>
                <input class="easyui-combobox" name="PositionTypeCode"
                       data-options="required:true,
                       valueField: 'memberValue',
                       textField: 'displayText',
                       url: '/dictionary/dictionaryCode/GWLXDM'">
            </td>
        </tr>
        <tr>
            <td class="right b">招聘类型：</td>
            <td>
                <select class="easyui-combobox" name="RecuitTypeCode">
                    <option value="1">师范</option>
                    <option value="2">非师范</option>
                    <option value="3">无要求</option>
                </select>
            </td>
            <td class="right b">招聘人数：</td>
            <td>
                <input class="easyui-textbox" name="PeopleCount"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="right b">工作年限：</td>
            <td>
                <input class="easyui-textbox" name="WorkYearLimit"
                       data-options="required:true">
            </td>
            <td class="right b">月薪：</td>
            <td>
                <input class="easyui-textbox" name="Salary" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="right b">职位联系人：</td>
            <td>
                <input class="easyui-textbox" name="Contactor"
                       data-options="required:true">
            </td>
            <td class="right b">联系人电话：</td>
            <td>
                <input class="easyui-textbox" name="ContactPhone" validType="mobile"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td class="right b">职位职能：</td>
            <td>
                <!--<input class="easyui-textbox" name="functions"
                       data-options="required:true">-->
                <textarea class="easyui-validatebox textbox  validatebox-text" cols="60" data-options="validType:'maxLength[1000]'"
                          name="Functions" rows="5" style="width:300px !important;height:80px !important;"></textarea>

            </td>
            <!-- </tr>
             <tr>-->
            <td class="right b">职位要求：</td>
            <td>
            <textarea class="easyui-validatebox textbox  validatebox-text" cols="60" data-options="validType:'maxLength[1000]'"
                      name="Requirement" rows="5" style="width:60% !important;height:80px !important;"></textarea>

            </td>
        </tr>
        <tr>
            <td class="right b">招聘简章：</td>
            <td colspan="3">
                <!--<textarea class="easyui-validatebox textbox  validatebox-text" cols="60" data-options="validType:'maxLength[1000]'"
                          name="recuitFiles" rows="5" style="width:400px !important;height:80px !important;"></textarea>-->
                <input class="easyui-textbox" name="RecuitFiles" data-options="required:true" id="wjdz">
                <a href="javascript:;" class="file">选择文件
                    <input type="file" name="file" id="upload-file" accept=".pdf,.docx" onchange="show();"
                           style="width: 70px;height: 30px; margin-left: -52px;">
                </a>
            </td>
        </tr>
        <tr>
            <td class="right b">审核状态：</td>
            <td colspan="3">
                <select class="easyui-combobox" name="Status" data-options="required:true">
                    <option value="0">待审核</option>
                    <option value="1">通过</option>
                    <option value="2">拒绝</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="right b">审核意见：</td>
            <td colspan="3">
                <textarea cols="60"   name="ExamineRemark" rows="5" style="width:400px !important;height:80px !important;"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</from>
<script src="/static/homePage/js/fieldValidation.js" type="text/javascript"></script>
<script src="/static/main/EditFrom.js"></script>
<link rel="stylesheet" href="/static/homePage/css/upload.css">
<script type="text/javascript" src="/static/homePage/js/upload.js"></script>
</body>
</html>
