<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "../base/header.html">
</head>
<body class="easyui-layout">
<div data-options="region:'center',border:false">
    <!--<form action="/config/save">-->
        <table class="tb1 border_b_no">
            <tbody id="nrlb">

            </tbody>
        </table>
        <div class="panel1" id="bottom">
            <button class="btn btn-success" style="cursor: pointer" onclick="tj()">保 存</button>
        </div>
    <!--</form>-->
</div>
<script type="text/javascript">
    $(function () {
        var html = "";
        $("#nrlb").empty();
        $.post("/config/list",{}, function (data) {
            for (var i = 0; i < data.length; i++) {
                if(i==0){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id1" value="'+data[i].Id+'">'+
                        '                <td class="right b" style="width: 260px" id="ParameterKey1">'+data[i].ParameterKey+'</td>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue1" style="width:150px" type="text"\n' +
                        '                           value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span class="note">用于系统默认数据显示的学校名称</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==1){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id2" value="'+data[i].Id+'">'+
                        '                <td class="right b" style="width: 260px" id="ParameterKey2">'+data[i].ParameterKey+'</td>\n' +
                        '                <td>\n' +
                        '                    <input class="easyui-numberspinner" id="ParameterValue2"  style="width: 150px"\n' +
                        '                           data-options="required:true,min:1999,max:3000,editable:false" value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span class="note">用于系统默认数据显示的年份，格式如：2019</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==2){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id3" value="'+data[i].Id+'">'+
                        '                <td class="right  b" id="ParameterKey3">'+data[i].ParameterKey+'</td>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue3" name="ParameterValue" type="checkbox" value="'+data[i].ParameterValue+'" />\n' +
                        '                    允许\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，学生才可以登录</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==3){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id4" value="'+data[i].Id+'">'+
                        '                <th id="ParameterKey4">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input  id="ParameterValue4"\n' +
                        '                           name="SC_SYS_UPDATESTUINFONEEDFORAUDIT" type="checkbox" value="'+data[i].ParameterValue+'"/>'+
                        '                    <span class="note" style="padding-left: 15px">启用时，学生修改数据需要管理员审核</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                } else if(i==4){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id5" value="'+data[i].Id+'">'+
                        '                <th id="ParameterKey5">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input  id="ParameterValue5" name="SC_SYS_QYPQSXSSFYXFDYXG"\n' +
                        '                           type="checkbox" value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，签约派遣信息生效允许辅导员或院系管理员修改</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==5){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id6" value="'+data[i].Id+'">'+
                        '                <th id="ParameterKey6">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue6" name="SC_SYS_QYPQXXSXSFXGPQXX" type="checkbox"\n' +
                        '                           value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，上一条有效时，允许修改派遣信息</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==6){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id7" value="'+data[i].Id+'">'+
                        '                <th id="ParameterKey7">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue7" name="SC_SYS_BDZDYMBZDY" type="checkbox" value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，将使用自定义模板打印</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==7){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id8" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey8">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input class="txt  easyui-numberspinner" id="ParameterValue8" min="0"\n' +
                        '                           name="SC_UNIT_RECRUITCOUNT_DEFAULT" required="True" style="width: 150px" type="text"\n' +
                        '                           value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span style="color:brown;margin-left:5px;">为0表示没有限制</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==8){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id9" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey9">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input class="txt  easyui-numberspinner" id="ParameterValue9" min="0"\n' +
                        '                           name="SC_SYS_RESUMECOLLECT_COUNT" required="True" style="width: 150px" type="text"\n' +
                        '                           value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span style="color:brown;margin-left:5px;">为0表示没有限制</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==9){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id10" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey10">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue10" name="SC_SYS_SIGNDATE" style="width:150px" type="text"\n' +
                        '                           value="'+data[i].ParameterValue+'"/>\n' +
                        '                    <span style="color:brown;margin-left:5px;">开放时间之后才可使用签约派遣功能</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                } else if(i==10){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id11" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey11">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue11" name="SC_SYS_ISALLOWUNIT_REGIST"\n' +
                        '                           type="checkbox" value="'+data[i].ParameterValue+'"/>\n' +
                        '                                                                允许\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，单位才可以注册</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==11){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id12" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey12">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue12" name="SC_SYS_ISOPENCOMPANY"\n' +
                        '                           type="checkbox" value="'+data[i].ParameterValue+'"/>允许\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，单位才可以登录</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==12){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id13" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey13">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue13" name="SC_UNIT_IS_MAY_RECRUITMENT"\n' +
                        '                           type="checkbox" value="'+data[i].ParameterValue+'"></input>&nbsp;&nbsp;是\n' +
                        '                    <span class="note" style="padding-left: 15px">用于单位是否可以发布招聘职位</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==13){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id14" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey14">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <select class="easyui-combobox" id="ParameterValue14" name="SC_SYS_AGREEMENTMODEL"\n' +
                        '                            style="width: 80px">\n' +
                        '                        <option value="1">手动</option>\n' +
                        '                        <option selected="selected" value="2">打印</option>\n' +
                        '                    </select>\n' +
                        '                    <span class="note">用于院校管理协议书</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==14){
                    html += '<tr id="SC_SYS_CODEREUSEtr">\n' +
                        '      <input type="hidden" id="id15" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey15">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue15" name="SC_SYS_CODEREUSE" type="checkbox" value="'+data[i].ParameterValue+'"></input>&nbsp;&nbsp;是\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，打印时的编号会用原协议书编号</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==15){
                    html += ' <tr id="SC_SYS_AGREEMENTPRINTtr">\n' +
                        '      <input type="hidden" id="id16" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey16">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue16" name="SC_SYS_AGREEMENTPRINT"\n' +
                        '                           type="checkbox" value="'+data[i].ParameterValue+'"></input>&nbsp;&nbsp;是\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，学生只能打印管理员审核通过的协议书</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==16){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id17" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey17">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input id="ParameterValue17" name="sc_SYS_SFYXSTUXG" type="checkbox" value="'+data[i].ParameterValue+'"></input>&nbsp;&nbsp;是\n' +
                        '                    <span class="note" style="padding-left: 15px">启用时，学生不允许修改基础信息</span>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }else if(i==17){
                    html += '<tr>\n' +
                        '      <input type="hidden" id="id18" value="'+data[i].Id+'">'+
                        '                <th class="right b" id="ParameterKey18">'+data[i].ParameterKey+'</th>\n' +
                        '                <td>\n' +
                        '                    <input  name="dataFile" type="hidden"/>\n' +
                        '                    <div id="uploadMessage" class="textstyle1"></div>\n' +
                        '                    <a target="_blank" href="'+data[i].ParameterValue+'" rel="lightbox">\n' +
                        '                        <img id="ParameterValue18" src="'+data[i].ParameterValue+'"\n' +
                        '                             style="cursor:pointer;width: 24.79px; height: 35.08px; vertical-align: middle;"/>\n' +
                        '                        <span style="color:red;">点击查看</span>\n' +
                        '                    </a>\n' +
                        '                </td>\n' +
                        '            </tr>';
                }
            }
            $('#nrlb').append(html);
            for (var j = 1; j < (data.length+1); j++) {
                if(j===3 ||j===4 ||j===5 || j===6 ||j===7 || j===11 || j===12 || j===13 || j===15 || j===16 || j===17) {
                    if (data[j-1].ParameterValue == 1) {
                        $("#ParameterValue" + j).attr("checked", true);
                    } else if (data[j-1].ParameterValue == 0) {
                        $("#ParameterValue" + j).attr("checked", false);
                    }
                }
            }

        })
    });

    /**
     * 提交参数
     */
    function tj() {
        var list = new Array();
        for (var i = 1; i <19 ; i++) {
            var a={};
            //Id : $("#id"+i).val(),ParameterKey:$("#ParameterKey"+i).text(),ParameterValue : $("#ParameterValue"+i).val()
            if(i===3 ||i===4 ||i===5 || i===6 ||i===7 || i===11 || i===12 || i===13 || i===15 || i===16 || i===17){
                a.Id = $("#id"+i).val();
                a.ParameterKey=$("#ParameterKey"+i).text();
                if($("#ParameterValue"+i).prop("checked")){
                    a.ParameterValue = 1;
                }else{
                    a.ParameterValue = 0;
                }
            }else{
                a.Id = $("#id"+i).val();
                a.ParameterKey=$("#ParameterKey"+i).text();
                a.ParameterValue = $("#ParameterValue"+i).val();
            }
            list.push(a);
        }
        var cs = JSON.stringify(list);
        $.ajax({
            url : '/config/save',
            data:{cs:cs},
            type : "POST",
            dataType :"",
            success : function (data){
                $.messager.alert('提示语句',data.msg);
            }
        });
    }

</script>
</body>
</html>
