<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<#include "../base/header.html">
</head>
<body>
<table class="tab1" cellpadding="3">
    <tbody>
        <tr>
            <td class="left b">Id:</td>
            <td>
                <input class="easyui-textbox" name="Id" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">CorpId:</td>
            <td>
                <input class="easyui-textbox" name="CorpId" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">Title:</td>
            <td>
                <input class="easyui-textbox" name="Title" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">Content:</td>
            <td>
                <input class="easyui-textbox" name="Content" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">ContactPhone:</td>
            <td>
                <input class="easyui-textbox" name="ContactPhone" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">CreateDate:</td>
            <td>
                <input class="easyui-textbox" name="CreateDate" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">IsReply:</td>
            <td>
                <input class="easyui-textbox" name="IsReply" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">ReplyContent:</td>
            <td>
                <input class="easyui-textbox" name="ReplyContent" data-options="required:true"/>
            </td>
        </tr>
        <tr>
            <td class="left b">ReplyDate:</td>
            <td>
                <input class="easyui-textbox" name="ReplyDate" data-options="required:true"/>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
