<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <#include "../base/header.html">
    <script>
        $(function () {
            $("#list").ex_grid({
                url: "/loginaccount/list",
                idField: "Id",
                textField: 'RealName',
                treeGridModel: 'adjacency',
                sortName: "CreateDate",
                colNames: ['Id', "姓名", "用户名", "用户类型",  "创建时间", "是否启用","操作"],
                colModel: [
                    {name: 'Id', index: 'Id', hidden: true},
                    {name: 'RealName', index: 'RealName', align: "center", width: 200},
                    {name: 'UserName', index: 'UserName', align: "center", width: 200},
                    {name: 'UserTypeName', index: 'UserTypeName', align: "center", width: 100},
                    {name: 'CreateDate', index: 'CreateDate', align: "center", width: 350},
                    {name: 'IsEnabled', index: 'IsEnabled', align: "center", formatter: School.formatBIT},
                    {name: 'RoleName', index: 'RoleName', align: "center", width: 200,formatter:function (value, obj, row) {
                            var displayText=value;
                            if(!displayText||displayText=="") displayText="角色设置";
                            return "<a class='btnA' href='javascript:' onclick=\"setManager("+row.Id+")\">"+displayText+"</a>"
                        }}
                ],
                pager: "#pager",
                ExpandColumn: "RealName",
                buttons:
                        [
                            {
                                type: "Del",
                                btnName: "启用",
                                btnCode: "Enable",
                                confirm: "您确定要启用选中的用户吗？",
                                listId: "#list",
                                args: {flag: true},
                                save: "disableOrEnable"
                            },
                            {
                                type: "Del",
                                btnName: "禁用",
                                btnCode: "Disable",
                                confirm: "您确定要禁用选中的用户吗？",
                                listId: "#list",
                                args: {flag: false},
                                save: "disableOrEnable"
                            },
                            {
                                type: "Del",
                                btnName: "重置密码",
                                btnCode: "Disable",
                                confirm: "您确定要重置密码为(123456)吗？",
                                listId: "#list",
                                save: "reset"
                            },
                            {
                                type: "Export",
                                btnName: "导出",
                                btnCode: "Export",
                                listId: "#list",
                                save: "/loginaccount/export"
                            }
                        ]
            });
        })
        function setManager(id) {
            School.showManagers({
                title:"设置用户角色",
                moduleId: 1,
                save:"/loginaccountRole/save",
                codeType:id
            })
        }
    </script>
</head>
<body>
<div class="search_area" id="search">
    <div class="form-search form-search-top" style="text-align:left;padding-left:10px;">
        <div class="adv-select-label">姓名/用户名：</div>
        <input id="s_RealName" name="sm_RealName-UserName" type="text" value="" />
        <div class="adv-select-label">用户类型：</div>
        <select id="s_UserTypeId" name="s_UserTypeId">
            <option value="">==所有==</option>
            <option value="1">管理员</option>
            <option value="2">教师</option>
            <option value="3">学生</option>
            <option value="4">单位</option>
        </select>
        <div class="adv-select-label">是否启用：</div>
        <select id="s_IsEnabled" name="s_IsEnabled">
            <option value="">==所有==</option>
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
        <button type="button" class="btn btn-primary" id="btnSearch">查 询</button>
        <button type="reset" class="btn btn-info" id="btnReset">重置查询</button>
    </div>
</div>
<div data-options="region:'center'">
    <div class="data-wrap">
        <div class="data-operation">

            <div class="button-operation">
                <!--放按钮的层11-->
            </div>

            <div class="clear"></div>
        </div>
        <div class="data-list">
            <table id="list"></table>
            <div id="pager"></div>
            <script src="/static/main/Scripts/jqgrid/js/jquery.jqpager.js"></script>
            <script src="/static/main/Scripts/jqgrid/js/bootstrap.paginator.min.js"></script>
            <script>
                var pageUnit = "条"
            </script>
            <div id="sorry" style="display: none; margin-top: 55px;" align="center">
                <small>暂无符合条件的数据.</small>
            </div>
            <div class="pager_operation">
                <div class="page-info-block">
                    共<span id="total_records"></span>条 第<span id="current_page" style="display: none;"></span><input
                        type="hidden" id="gopage_url"/><input type="text" id="gopage" name="gopage" value=""/>/<span
                        id="total_page"></span>页 <span class="pager-gopager" id="gopager-img" onclick="gopager();"
                                                       title="跳转">&nbsp;</span>
                </div>
                <div class="pagination" id="work-pager-block"></div>
                <div class="page-info-block">
                    <div class="btn-group dropup pager-selbox-div" id="pager-selbox-div">
                        <button style="border:none;padding:0px;"></button>
                        <button class="btn pager-selbox-button dropdown-toggle" id="pager-selbox" title="显示条数"
                                data-toggle="dropdown"></button>
                        <ul class="dropdown-menu pager-selbox-menu"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
